[2019-05-11 09:54] netojose opened #1 "Demo link is broken"
The online demo link: https://robtaussig.com/socket/
is broken: `Uncaught TypeError: Object(...) is not a function`

[2019-05-12 22:35] robtaussig commented on #1
Appreciate pointing it out! Fixed.

[2019-05-12 22:35] #1 closed

[2019-05-14 15:42] JonSilver opened #2 "Send message on connection"
Nice idea for a custom hook! Thanks for sharing!

In my use-case, my component must send a message in the onOpen event in order to register the filter criteria for its subscription. So far I've not been able to work out a way to do this because the onOpen event handler must be registered using the options at the time of useWebSocket creation, at which point the sendMessage function doesn't yet exi

[2019-05-15 00:35] onionhammer opened #3 "Include types"
Suggestion; it would be great to have types (.d.ts) for this library

[2019-05-15 11:34] dihdah opened #4 "Close connection when unmounting component"
Hi! Thanks for the custom hook!

I was wondering if there is a way to close a websocket connection when unmounting component (navigating to a different view)?

[2019-05-17 00:05] aaronr5 commented on #4
The websocket connection should close when unmounting the component since there appears to be a cleanup function in this hook that changes the ready state to closing and closes the connection on unmount. However, someone can correct me if I am wrong about this.

[2019-05-17 01:13] robtaussig commented on #4
Aaron's correct. The websocket will close on unmount unless the component
passes an options object to the hook with the property 'share' set to true.
This will, however, only prevent the websocket from closing on unmount if
there are still other components mounted and sharing that websocket. The
current implementation will close a shared websocket once all subscribed
components have unmounted.

I

[2019-05-17 01:15] robtaussig commented on #3
Thanks for the suggestion!

[2019-05-17 01:20] robtaussig commented on #2
Sounds like you want to feed the chicken the egg!

Kidding aside, I think you should be able to add a useEffect hook after useWebsocket with the readyState as the memoized dependency. And in the closure, call send message only when the readyState is 1

[2019-05-21 01:12] aaronr5 opened #6 "Potential typo/error in parsing socketIO url"
Should the regex line in the code below be this instead ```/^https|wss/.test(url); ```
The way it is now ```isSecure``` would be true for urls prefixed by ```ws``` which from my understanding is unsecure and will cause problems if you try to connect to an unsecure websocket server with the ```wss``` prefix rather than ```ws```.

https://github.com/robtaussig/react-use-websocket/blob/ba3de50ccdb141

[2019-05-21 23:32] robtaussig commented on #6
Great catch! Fixed and bumped version in https://github.com/robtaussig/react-use-websocket/commit/c897340f2cde6ce5255c2f169c37b769e5603285

[2019-05-21 23:33] #6 closed

[2019-05-21 23:33] #4 closed

[2019-05-22 09:55] #2 closed

[2019-05-31 13:05] jEnbuska opened #7 "reorder useWebSocket return values?"
[code]
I would assume first value reflects the state and the second one would be a callback

Examples:
[code]
That's my gut feeling, but I'm not sure if it is a convention
In this case, there are several states so it's a bit unclear what the value should be

How about?:
[code]

[2019-06-01 23:59] robtaussig commented on #7
This is a good suggestion, and in hindsight I probably should have done that from the get-go. For now, I worry about the implications of changing the order as it will break current usage. That said, I plan on bumping to v1 once I've had time to test this in a project I'm working on, and would be more comfortable introducing breaking changes in a major version bump.

[2019-06-19 08:22] GGAlanSmithee opened #8 "Cannot JSON.parse received data when using socket.io"
When using socket.io, I am emitting a message from the server:

`io.emit('test', 'hello, world!')`

but on the client (in the received MessageEvent), it results in:

`data: "42["test","hello, world!"]"`

or, in case of using an actual JSON payload:

`io.emit('test', { message: 'hello, world!' })`

on the client:

`data: "42["test",{"message":"hello, world!"}]"`

(Also, in case of using `send` inst

[2019-06-19 12:17] robtaussig commented on #8
Hi Alan,

I should definitely document socket.io support better, because this is an example of where the library is not a drop-and-replace alternative to it. What it does is convert the url to one that socketIO listens for on the backend (assuming basic configuration), and implements a ping system that it expects from the client. You can see the basic functionality [here](https://github.com/robtau

[2019-06-20 00:03] robtaussig commented on #3
Requires a little experimentation as I only have basic experience with TypeScript, but let me know if this looks right and I'll close the issue:

9c250f2187a475cabed47f83e9f0124196111159

[2019-06-20 00:09] onionhammer commented on #3
I havent had a chance to try it out myself, but it seems correct from eyeballing it

[2019-06-20 00:32] robtaussig commented on #8
I was thinking about this problem today, and came up with what I hope is a satisfactory solution:

It is undesirable for your component to get updated and re-render on every message received from SocketIO, as many of those are simple ping responses and other messages that are communicating information that isn't relevant to your component. To combat this, I've added another optional key-value pair

[2019-06-20 00:32] #8 closed

[2019-06-20 00:33] robtaussig commented on #3
Great! Thanks for your quick reply.

[2019-06-20 00:33] #3 closed

[2019-06-20 08:35] GGAlanSmithee commented on #8
@robtaussig thanks for the explanation and additional work. What you say makes sense, and I actually ended up doing something in the lines of what you do:

I created an abstraction hook over the on you provide out of the box, where I handle message parsing, updates, memoization etc.

[code]

(since I'm only interested in the last data for the time being, I don't return `sendMessage` or `readyState

[2019-06-20 19:58] robtaussig commented on #8
I like it. If you are interested, this can potentially be a useful add-on that a developer can import into their component instead of the core hook, so they don't have to think about socketIO parsing.

[2019-06-21 11:36] GGAlanSmithee commented on #8
Sen you a PR @robtaussig

[2019-06-25 23:39] robtaussig opened #10 "Return a custom hook from useSocketIO that subscribes to topics and only updates when that topic is used in an incoming message"
#9
@GGAlanSmithee

Figured this was worth a new issue

[2019-06-25 23:46] robtaussig commented on #10
[code]

[2019-09-03 02:59] liuxiaobina opened #12 "websocket.onmessage"
Can the time consumed by the websocket.onmessage function be optimized? It feels like a bit of a performance impact, because there are many functions nested to execute.
![image](https://user-images.githubusercontent.com/27754478/64141228-cf6d1100-ce39-11e9-9e38-fae058607906.png)
Some cost 20 to 40 ms

[2019-09-03 03:07] liuxiaobina opened #13 "With respect to instantiating only one ws, flexible subscription and cancellation of WS messages on some pages"
I have some problems with using your websocket on a single page in spa, setting options shared: ture, which is really just an instantiation, but I want to send Ping regularly at the root node.

Some pages subscribe to certain content when they want to load, and when they jump to another page, they cancel the subscription to the WS message.
![image](https://user-images.githubusercontent.com/2775447

[2019-09-03 05:42] #13 closed

[2019-09-03 05:42] liuxiaobina commented on #13
a,

[2019-09-05 13:35] robtaussig commented on #12
@liuxiaobina, thank you for your feedback. I welcome all PRs and constructive critique, so feel free to disagree, but I don't think a library like this can do much better than that. The only two functions bound to websocketInstance.onmessage are an optional callback provided by you and the React.useState setter function, which is required to set the message state and update your component. The lat

[2019-09-11 22:57] eric-blue opened #14 "Not hardcoding query params for socket-io handshake"
https://github.com/robtaussig/react-use-websocket/blob/99d29db3e42952cebab8805bddd9868eb2e94aa0/src/lib/socket-io.ts#L20

a lib like [socket.io-client](url) provides an additional `query` object when performing the handshake. This allows the client to pass alongside `transports: "websocket"` additional params such as `user_id: 9000` that the socket.io backend can consume.

Might it make sense to p

[2019-09-12 00:14] robtaussig commented on #14
I like it. If you define a queryParam object in options, it will be stringified and appended to the final url. Thanks for the suggestion! Updated README.

20bc77211710ff6aee853caf69f0cdafeaaab4f7

[2019-09-12 00:16] #14 closed

[2019-09-12 00:16] robtaussig commented on #12
I'm going to close this issue, but feel free to continue the conversation!

[2019-09-12 00:16] #12 closed

[2019-09-13 16:59] eric-blue opened #15 "Block-scoped window redeclaration not allowed"
Current implementation of the globally declared `const window: { ... }` throws error in compiler

[code]

caused by:
[code]
Simply removing the offending declaration allows it to compile, but I am unaware as to what use-case keeping it solves.

Alternatively, adjusting it to an interface resolves the compilation as well:

[code]

[2019-09-13 17:36] robtaussig commented on #15
Thank you for the heads up! Will fix tonight.

- Sent from mobile. Please forgive brevity.

On Fri, Sep 13, 2019, 12:59 PM Eric Berndt <notifications@github.com> wrote:

[2019-09-14 15:57] robtaussig commented on #15
It began as what I thought would be a simple fix (add 'dom' to the tsconfig library list), and then became a mini project overhauling the library types. Let me know how it looks!

ffe13ffb7a0fc36a8607d259a6b58270ec19f7e5

[2019-09-16 16:27] alekhrycaiko commented on #15
Those look like nice improvements. Thanks for the efforts @robtaussig !

[2019-09-16 16:30] eric-blue commented on #15
@robtaussig works great, thanks for the quick turnaround!

[2019-09-16 16:42] #15 closed

[2019-10-26 16:35] AmazingTurtle opened #16 "Set binaryType"
It is not possible to set binaryType for a websocket object.
It would be good to have a feature that allows to set a value for this.

[2019-10-30 20:34] robtaussig commented on #16
Great suggestion and apologies for the delay in response. I've been thinking of working on an option that gives a little direct access to the websocket (that in this case would allow you to set binaryType), but I'm also concerned about a case in which the websocket is being shared across multiple components and one mutates it in a way that breaks everything else.

Of course, I can also just accept

[2019-10-30 21:30] robtaussig commented on #16
@AmazingTurtle

I put together a branch that I think will accomplish this. An example of the API/functionality can be seen here:

https://github.com/robtaussig/react-use-websocket/blob/socket_proxy/README.md#getwebsocket-function---proxy

What do you think?

[2019-11-06 16:19] tklepzig opened #17 "Add option to retry reconnection after the web socket connection has been closed"
Currently, the only way of "reconnecting" can be done by rerendering the component and so the hook by changing the URL.

I'd like to have an option whether the connection should try `n` reconnect attempts after the connection has been closed (e.g. the server shut down unexpectedly). I'm fine with contributing by a PR, but currently, I've no good idea how to add this into your implementation, do yo

[2019-11-06 22:48] robtaussig commented on #17
@tklepzig

Great question. I need to update the README, but an attempt to solve this problem should be available by adding "retryOnError":true to the options object. Reconnect is called on an interval and with a max attempt count, and only triggered on the websocket's error event, so happy to discuss a better approach! (since it might take a while for server to restart, etc)

The challenge I found

[2019-11-07 08:38] tklepzig commented on #17
Yep, I already tried the `retryOnError` option (found it in the code ;)) but as you mentioned already, it handles only the error case and when I shut down the server only the close event is triggered.

Nevertheless, I'd let the `retryOnError` implementation as it is (maybe allow defining the `RETRY_LIMIT` in the options) and add a new one for the close event.

I definitely like your idea with the

[2019-11-07 11:01] benesva4 commented on #17
I think it would be nice to get reconnect function from the useWebSocket so we can use it on our own.
Something like:

`const [sendMessage, lastMessage, readyState, reconnect] = useWebSocket(url, options);`

[2019-11-07 11:06] tklepzig commented on #17
Yes, this is another possible approach. Though, you have to handle the reconnecting attempts and delays (e.g. by using `setInterval`) by your own then.
I'd prefer to handle this stuff inside the hook.

[2019-11-07 18:09] robtaussig commented on #17
I tend to agree with @tklepzig here. It's not that I don't trust users to be able to manage the websocket directly, but I'm really trying to isolate implementation details as much as possible, and only expose what is needed to effectively use a websocket (sending a message, receiving messages and updating a component, and tracking current state of the websocket, at minimum). Especially because par

[2019-11-13 02:21] robtaussig commented on #17
@tklepzig @benesva4

Just pushed out the changes pertaining to our conversation and in doing so decided that it made more sense to bump library to 1.0.0 instead of 0.9.9:)

[Updated documentation on API](https://github.com/robtaussig/react-use-websocket#reconnecting)

Thanks for your feedback and patience!

[2019-11-13 02:21] #17 closed

[2019-11-13 13:06] tklepzig commented on #17
Great, I like it. Thanks a lot for your fast reaction and implementation!

[2019-11-19 22:50] loganx510 opened #18 "How to sendMessage once connection established?"
It is not really clear how to do that now. I suppose you can call sendMessage in the options object. But is it better way ? Thanks

[2019-11-19 23:33] robtaussig commented on #18
@loganx510

For a chat application that I've used this for, where I wanted a message sent to the server indication that a user has connected, I created a useEffect with readyState as the dependency. Inside of the useEffect, I would check if readyState is equal to 1 (i.e., 'open'), and if so I would send the message using the callback provided by the hook. This should only ever happen once unless t

[2019-11-19 23:40] loganx510 commented on #18
Thank you for the detailed answer. It works)
`useEffect(() => {
    if (readyState === 1) {
      sendMessage()
    }
  }, [readyState])`

[2019-11-20 14:10] robtaussig commented on #18
Glad to hear it!

[2019-11-20 14:10] #18 closed

[2019-11-26 00:45] filmfuthoem opened #19 "how can I passing username and password for my mqtt broker"
Hi there,

I'm trying to use the library connect to my mqtt broker but I can't find an option to send credential for my mqtt broker.

Any idea?

[2019-12-03 13:44] robtaussig commented on #19
Hi @filmfuthoem,

I don't have any experience working with mqtt broker, but if you could explain how you might do this with a vanilla WebSocket, I can either suggest a way to do so with the current API, or propose a solution for a future release. A quick search for WebSocket authentication led me to [this](https://stackoverflow.com/questions/4361173/http-headers-in-websockets-client-api). Based on

[2019-12-03 13:46] robtaussig commented on #19
Alternatively, you can set the cookie, which will be received server-side:

[code]

[2019-12-08 06:35] geofflittle opened #20 "Error when using react-hot-loader"
Hey there,

I'm brand new to react and using this lib has been great, thanks for writing it.

One sharp edge that I've run into is that when I'm dev'ing with react-hot-loader and make a change I see the error

[code]

I *think* this might be because when I make a change, the hot reloader re-renders the page (including recreating the WebSocket?) which causes react-use-websocket to think that the op

[2019-12-08 07:20] robtaussig commented on #20
Hi Geoff!

Thanks for using the library, and for the interesting question.

I haven't experimented much with react-hot-loader myself, but here is my theory after taking a look at your repo:

1) The first thing I notice is that you aren't passing an options object to useWebSocket. There's nothing wrong with this as all of the options are optional (and thus the options object itself is an optional p

[2019-12-08 07:25] robtaussig commented on #16
I'm going to go ahead and close this thread and promote this change.

[2019-12-08 07:25] #16 closed

[2019-12-08 08:02] robtaussig commented on #19
I'm going to close this issue, as authentication is beyond the scope of this library.

[2019-12-08 08:02] #19 closed

[2019-12-08 08:03] #10 closed

[2019-12-08 10:03] geofflittle commented on #20
Hey Rob!

Thanks for getting back to me, I really appreciate it.  I tried your suggestion but unfortunately I'm still seeing the error.

![ezgif com-video-to-gif](https://user-images.githubusercontent.com/3976777/70387812-88257d80-195e-11ea-95be-829777cb425c.gif)

Any other trouble-shooting suggestions I should try?

Thanks again,
Geoff

[2019-12-13 23:07] robtaussig commented on #20
Hi @geofflittle!

Apologies for the late reply. The error is clearly occurring based on your screencast, but oddly enough I am not able to reproduce it after cloning your repo, running `yarn install`, and then `yarn run client:dev` (and making changes to trigger a hot reload). Perhaps you can try a fresh install of node_modules in case there were any recent updates to a library that fix the issue?

[2019-12-13 23:07] #20 closed

[2019-12-16 09:38] StinsonZhao opened #21 "About "Static Options""
Why not try to implement "Options" as "Init Value," just like "useState" handles its argument.

Then if options change when rerendering, the changed options will be ignored. If so, we can remove that exception "The options object you pass must be static"

[2019-12-17 01:47] robtaussig commented on #21
Thanks for the suggestion @StinsonZhao

That would definitely work insofar that the error would never be thrown, but I also want to make sure that users are aware of the fact that any changes to options will be ignored (hence throwing the error), especially when it comes to closures. My biggest concern is something like this:

[code]

It's the kind of bug that generally won't be immediately obviou

[2019-12-29 18:13] #21 closed

[2020-01-19 22:18] jsphstls commented on #7
This sounds like a problem that affects adoption more than usage which could limit feedback.

[2020-01-20 11:01] kaa opened #23 "Expose readyState constants enum"
May I suggest exporting the ready state constants from the library. That would keep everyone from having to redefine them for themselves.

Similar to the following,

[code]

[2020-01-21 23:42] robtaussig commented on #23
Good suggestion. I'll include this in the next update. Thanks!

[2020-01-27 00:02] robtaussig commented on #23
Just pushed the commit and bumped npm version. Thanks again!

7e5fe12

[2020-01-27 00:02] #23 closed

[2020-03-15 02:55] kingctan commented on #17
i tried but not work using shouldReconnect(). how to fix it?

[code]

[2020-03-18 23:29] carlospavanetti opened #30 "Problem with order of return values"
See #7
This hook has many return values to remember the right order. A object would be more appropriate, reducing the coupling between the return values and the hook usage.

[2020-03-25 08:55] mohsenasm opened #32 "Sending message in onOpen"
Hi,
How can we sendMessage when receiving onOpen event?

[code]
We cannot use `sendMessage` function because it will be defined after STATIC_OPTIONS memo and so `sendMessage` cannot be placed into STATIC_OPTIONS dependency list (as eslint's exhaustive-deps says).

My first try is using `event.currentTarget.send`, but I am not sure this is a good usage or not.

[2020-03-27 22:59] padge opened #33 "Async url provider"
It would be cool if the first `url` param could optionally be an async function that returns a URL, similar to what's found in this package https://www.npmjs.com/package/reconnecting-websocket#update-url.

My use case is similar to the example they give, fetching a short-lived auth token:
[code]

[2020-03-30 08:27] alxrocha opened #34 "Bug: does not reconnect when using a shared WebSocket"
Version: 1.3.4

When using a shared WebSocket connection, once the connection closes, no reconnection is attempted.

[code]

## The current behaviour
No reconnection is attempted - the connection stays closed.

## The expected behaviour
The WebSocket should attempt reconnection. This works as expected when `share` is false.

[2020-04-01 21:39] codeocelot commented on #33
I have the same pain-point, however, I can't really see a good way to add this to the project.  As a work around, I've placed `getSessionToken()` in a parent component and only render the component when a jwt is acquired.  Not ideal, but works pretty well all things given.  Best of luck!

[2020-04-07 20:03] robtaussig commented on #32
Hi @mohsenasm,

This is a good question, and something I've had to hack around in the past. I actually like your solution a lot better than I do my own, so I will refrain from polluting the solution pool. That said, this does kind of go against the design philosophy of limiting direct access to the underlying websocket (as it may be shared, wrapped, etc) -- what do you think of me adding the sendM

[2020-04-07 20:10] robtaussig commented on #33
Great question @padge, and great suggestion for a work-around @codeocelot.

Since there is no guarantee that the websocket is immediately available to send messages (as you still need to wait for readyState to be open), there should not be any expectation of synchronous access to sendMessage or getWebSocket (and for the latter, we can return null or something until it's ready). Therefore, I don't

[2020-04-07 20:11] robtaussig commented on #34
Thanks @alxrocha ,

This indeed is a bug, and I'll prioritize fixing this asap.

[2020-04-07 20:12] robtaussig commented on #30
Hi Carlos,

Thank you for your feedback. I am considering options for improving the api, but worry about making a breaking change as current use depends on the return value being an array. I have a few other issues I want to fix first, but when I can, I'll look into merging your PR for a major release (2.0).

[2020-04-13 10:13] Facj opened #35 "Ionic: Close connection on page change."
When using Ionic, pages may not be unmounted when switching between them.
As a result, the suggested mechanism to unsubscribe to data sources is to use Ionic lifecycle events instead of React methods useEffect and omponentWillUnmount. ([docs](https://ionicframework.com/docs/react/lifecycle#guidance-for-each-lifecycle-method)).
As far as I understand, this is not compatible with the mechanism in th

[2020-04-13 16:46] padge commented on #33
@codeocelot thanks for the workaround suggestion! Unfortunately I wasn't able to make it work nicely when reconnecting, since I use a short-lived JWT that needs to be re-fetched on reconnect.

[2020-04-13 21:44] codeocelot commented on #33
@padge are you sending your jwt as a query param?  You can try appending it to the url yourself instead of using the query option (which needs to be static).  If you do this, each time `useWebsocket` gets a new url it'll handle switching to the new connection.

As a side note, I think jwt refreshes are a good example of when options shouldn't be considered static.

[2020-04-14 14:01] robtaussig commented on #33
@codeocelot I agree that this is one of several examples of why options should not be considered static. I'm testing a build out now where options is treated as a dynamic property and hopefully can have it ready soon.

[2020-04-14 15:03] robtaussig commented on #33
Hi @padge,

I merged in the change that supports passing an async url getter to useWebSocket in lieu of a string, updated the documentation, and bumped the library to 1.4.0.

bfe7f14

Thank you for your feedback and patience!

[2020-04-14 15:03] #33 closed

[2020-04-14 16:02] robtaussig commented on #32
Hi @mohsenasm,

Apologies for the delay and thank you for your patience. I merged the change that provides sendMessage as a second argument to the onOpen handler. While not required for this particular feature, I also implemented a message queue so that any messages sent prior to the websocket opening are queued up and sent once the websocket transitions to the Open readyState.

3927b53

[2020-04-14 16:02] #32 closed

[2020-04-14 16:22] mohsenasm commented on #32
Thanks!

I'm sorry, but I prefer using web socket connection in its full potential.
There is another problem too. we cannot close connection, atleast with `getWebSocket` (there may be another way but I dont know).

By the way, now I am using [my own useWebSocket](https://gist.github.com/mohsenasm/5b01a8cc82e9140df8a86860bd16d108) :).
Wish You Well.

[2020-04-14 16:33] robtaussig commented on #35
Hi @Facj,

I am not familiar with Ionic, so I was hesitant to attempt any solution that depends on specific knowledge of it. That said, your issue is similar to others that have been brought up in the past that result from the limited access the library provides to the underlying websocket. My original motivation behind this was to protect against bugs caused by multiple components using the same

[2020-04-14 16:33] #35 closed

[2020-04-14 16:42] robtaussig commented on #32
Fair enough @mohsenasm!

Coincidentally, I just addressed another issue caused by limiting access to the underlying websocket. As such, I modified the behavior of getWebsocket so that it provides the underlying websocket directly, but only if it is not shared. The reason for this is I didn't want it to become a wild-west if multiple components are sharing the same websocket, but all of them are fr

[2020-04-14 16:57] robtaussig commented on #32
@mohsenasm,

I hope you don't mind some unsolicited feedback, but in your `reconnect` function, it calls itself in both the `onerror` and `onclose` handler of the reconnected websocket. In almost all cases, `close` will be called after any error events, and so your websocket will be instantiated twice after most errors. This can create other bugs depending on whether/how you access the websocket o

[2020-04-15 06:57] mohsenasm commented on #32
Thanks! Nice comment!
I Fixed that.

[2020-04-15 11:39] rootsli opened #39 "How to close socket"
`
const [sendMessage, lastMessage, getWebSocket] = useWebSocket(
    socketUrl,
    SOCKET_OPTIONS
  );

useEffect(() => {
    setTimeout(() => {
        getWebSocket().close();
      }, 3000);
  }, []);
`

browser console:
Uncaught TypeError:getWebSocket is not a function

[2020-04-15 12:02] robtaussig commented on #39
Hi @rootsli,

The third item is readyState, which is an integer:) You need to do:

`
const [sendMessage, lastMessage, readyState, getWebSocket] = useWebSocket(
socketUrl,
SOCKET_OPTIONS
);

//or

const [sendMessage, lastMessage,, getWebSocket] = useWebSocket(
socketUrl,
SOCKET_OPTIONS
);
`

[2020-04-15 12:02] #39 closed

[2020-04-15 16:26] padge commented on #33
Right on - thanks!

[2020-04-16 15:58] padge commented on #33
Figured I'd just comment here for now rather than create a new issue.

Can the url provider be called on reconnect? I'm using a short-lived token and reconnecting currently uses the old expired auth token.

[2020-04-16 16:36] robtaussig commented on #33
@padge,

Absolutely -- that was an oversight that I didn't do that in the first place.

[2020-04-16 19:22] robtaussig commented on #33
@padge,

Thanks for bringing this to my attention. Pushed out the fix and bumped version to 1.6.2.

caa3f0

[2020-04-16 21:07] robtaussig commented on #34
Apologies for the delay. This was a bit trickier than I had anticipated, but I think I got it. Tested with a local server that I started and stopped intermittently, and shared websockets behaved correctly. I bumped version to 1.7.0.

Demo using your example: https://stackblitz.com/edit/react-prfxkc

ee7dd6b

Thanks for bug report!

[2020-04-16 21:07] #34 closed

[2020-04-17 09:40] alxrocha commented on #34
No apologies needed.
Seems to be working properly, thank you so much for fixing the issue.

[2020-04-19 23:37] YikSanChan opened #40 "useWebSocket in a for loop"
Hi,

I have a use case that a react component has to subscribe to multiple topics for real-time rendering. Let's say there is a web page that shows account balance for multiple bank accounts. Each update operation (for example PUT /account/:account_id/balance) will trigger a message sent to the react component that is using socket URL `ws://localhost:8080/ws/account/1`. This way, the react compone

[2020-04-20 06:57] ojii opened #41 "allow passing `null` as `url`"
`useWebSocket` checks for [`url !== null`](https://github.com/robtaussig/react-use-websocket/blob/e6cf259becd4803d6f9f62630d74521814bddcc2/src/lib/use-websocket.ts#L55) but it's [signature](https://github.com/robtaussig/react-use-websocket/blob/e6cf259becd4803d6f9f62630d74521814bddcc2/src/lib/use-websocket.ts#L15) does not allow urls to be null.

Could the signature be changed to `string | (() =>

[2020-04-20 07:06] dimaqq commented on #40
Is it about multiple websocket connections?
In that case I'd suggest wrapping each into a component and rendering multiple components.

Or is about a single connection with multiple outgoing messages?
In that case I don't know...

[2020-04-20 16:04] robtaussig commented on #41
I actually really like this idea and am surprised I didn't think of it to begin with. It fixes two issues that I've thought about in the past -- cases in which the url may not be known at the beginning of the component lifecycle, and it provides an intuitive ('React'-) way to close the websocket. Will implement today.

[2020-04-20 16:46] robtaussig commented on #40
@YikSanChan,

I don't think you are misusing my hook, exactly, but you do need to follow React hook rules in the sense that you cannot call hooks inside of a loop. As @dimaqq, suggested, your pattern would probably be most closely replaced by rendering a component for each account, and having each component use `useWebSocket`. That said, I have a few thoughts/questions:

1) What is the upper bound

[2020-04-20 16:53] robtaussig commented on #40
Not to get too off-topic, but in the above example, you might also want to hoist the accountInfo into a reducer managed by the root component, so as to allow functionality that requires information from all accounts (like a summary, etc).

[2020-04-20 21:00] robtaussig commented on #41
Implemented!

7fdca5e

[2020-04-20 21:00] #41 closed

[2020-04-23 16:55] YikSanChan opened #42 "How to avoid new websocket connection per webpage refresh"
Hi,

I am building a POC using the hook in the frontend together with a simple backend built with golang and gorilla/websocket.

The issue I find out: every time I refresh the web page, a new websocket connection is created, and all these websockets is connecting the same socket url. It leads to: when the backend publishes a message “data” ([code](https://github.com/YikSanChan/react-golang-websock

[2020-04-23 21:14] robtaussig commented on #42
Hi @YikSanChan , thanks for reaching out.

I don't have any experience in Go, nor do I have it set up in my environment, so I can only speculate -- first, can you confirm that there are multiple websockets in a single session? If you open dev-tools (Ctrl+shift+i in Chrome or Command+shift+i if on IOS), and open the network tab, do you see more than one websocket connection? I'm not familiar with a

[2020-04-24 13:50] raphael-leger opened #43 "Allow shared websockets to be closed"
I would like to be able to close a websocket connection, even if it is shared.

The connection would be closed from one of the components using it.
The other components would handle it well: thanks to the `readyState` flag they will know they can't send messages anymore, and they would not receive messages anymore as well.

Why are there such limitations? Can we remove them?

[2020-04-24 13:57] raphael-leger opened #44 "Add an option to immediately open the websocket connection (or not)"
It would be great to add an option to open the websocket by default. Or not open it by default.

For instance, I would like users to do a specific action  - let's say click on a button, before they connect to the websocket and start sending/receiving messages.

I do not want to open a websocket connection before users have clicked this button.
Sometimes they do not even click the button.

[code]

[2020-04-24 15:03] robtaussig commented on #43
Hi Raphael,

I understand your frustration. For context, when implementing this feature, I viewed components that use a shared websocket as the subscribers of a pub-sub model, and felt that it was giving too much power to each subscriber to allow it to effectively unsubscribe on behalf of other subscribers by closing the websocket. I know this is not a perfect analogy, but that was the original mo

[2020-04-24 15:13] robtaussig commented on #44
Hi Raphael,

What are your thoughts on the implementation beloww?

[code]

[2020-04-24 15:14] robtaussig commented on #7
Looks like there is enough support here that I'll at least have something to point to if anyone asks why I changed the API! Will implement in next release, and likely make it 2.0.0.

[2020-04-24 22:38] YikSanChan commented on #42
@robtaussig Hi, I have two tabs open in chrome, they are both at URL `http:localhost:3000/1`.

This is a screenshot for tab 1.

![image](https://user-images.githubusercontent.com/17229109/80261941-c20ecc00-8640-11ea-922f-3f9ba3fac135.png)

This is the screenshot for tab 2.

![image](https://user-images.githubusercontent.com/17229109/80261968-d3f06f00-8640-11ea-9f3e-73df284a62e6.png)

In each scree

[2020-04-25 00:38] robtaussig commented on #42
Hi @YikSanChan,

I am familiar with both (node and express) and would be happy to debug if you replaced the backend.

Those screenshots definitely look strange. I'll take another look at your React code to see if anything jumps out, and once you have a chance to upload express code, I'll run it locally. Thanks for helping out with this!

[2020-04-25 01:12] robtaussig commented on #42
Hi @YikSanChan ,

I forked your repo and made a commit to change the websocket url to an online api that echos messages sent to it. Instead of using the submit action to make a POST request, I sent the deposit as the message, which is echoed back and stored into the balance variable. It appears to work fine for me and refreshing does not multiply connections. Does anything look wrong with the comm

[2020-04-25 01:13] robtaussig commented on #42
One last thing, does the websocket server send a message whenever you fetch the balance? If so, there might be an infinite loop situation caused by your useEffect

[2020-04-25 12:03] raphael-leger commented on #44
@robtaussig, thank you for the quick and efficient answer.

As a first step, I think it could help to put a dedicated section into the README to show that setting and unsetting URLs actually means we have control over opening and closing a connection? For instance with the example you provided along with a sentence describing it.

As a second step, as I think it is not so obvious that we need to r

[2020-04-28 02:53] YikSanChan commented on #42
@robtaussig Hi I tried to reproduce the issue with react + expressjs however I am not able to setup WebSocket on the server-side correctly.

Using https://github.com/YikSanChan/react-express-websockets-bankaccounts/tree/ws, after starting the frontend react app on port 3000, and run `node app.js` to start the backend express app on port 8080, visit http://localhost:3000/1 on the browser, it is cle

[2020-04-28 21:34] robtaussig commented on #42
Hi @YikSanChan,

This worked for me:

https://github.com/robtaussig/react-express-websockets-bankaccounts/commit/d273823dd7a1fa4690a0d7c0e21451762355b23f

[2020-04-29 06:08] YikSanChan commented on #42
Hi @robtaussig Thanks for the help.

It turns out https://github.com/YikSanChan/react-express-websockets-bankaccounts/tree/19b3898433fed0f2ffc471546da6874961976d81 work pretty well with the expressjs WebSocket backend, I believe it is an issue with my golang WebSocket implementation.

I will look into that, will update with you if I find anything.

[2020-04-29 06:08] #42 closed

[2020-04-30 13:49] robtaussig commented on #42
Glad to hear it! I appreciate all follow up.

[2020-04-30 14:32] YikSanChan commented on #42
The demo is working now https://github.com/YikSanChan/react-golang-websockets-bankaccounts/tree/a989d037d1ef256dab6508089e2b1134e3b4efe9

What I did is switch the websocket I use in the backend from https://github.com/gorilla/websocket to https://github.com/nhooyr/websocket. The key difference is the latter supports close handshake https://pkg.go.dev/nhooyr.io/websocket?tab=doc#Conn.Close.

I beli

[2020-04-30 23:20] raphael-leger opened #45 "Ease the use of json messages"
When dealing with websockets, it is common that messages are stringified objects.

Right now we can send such messages with the following:

[code]

### Proposal A:
It would be handy to have a method that stringifies the given object directly without decreasing readability due to using `JSON.stringify`'s everywhere:

[code]

Something like `lastJsonMessage` could also be exposed with an object dire

[2020-05-01 00:49] robtaussig commented on #45
Great suggestion. I'm actually currently working on the build that changes the return value to an object, where you can destructure the properties that your component needs. I will definitely add your first suggestion and include a jsonMessage and sendJsonMessage function. Thanks!

[2020-05-01 00:53] robtaussig commented on #44
Hi @raphael-leger,

I agree with you that toggling the url is not an intuitive way to control the websocket, especially since it is fairly common to define your api urls as a constant. I like your suggestion to add a parameter that controls this. Will look into fitting this change into the next release.

[2020-05-01 05:46] robtaussig commented on #45
Just released v2, and incorporated Proposal A. Thank you for all of your suggestions!

1110333

[2020-05-01 05:46] #45 closed

[2020-05-01 05:48] robtaussig commented on #44
@raphael-leger

Implemented your suggestion to accept a param that controls whether the socket is open or closed (and toggles on change). Thank you for your patience and continued suggestions.

1110333

[2020-05-01 05:48] #44 closed

[2020-05-01 05:49] robtaussig commented on #7
Thanks everyone -- introduced in 2.0.0

1110333

[2020-05-01 05:49] #7 closed

[2020-05-01 05:50] #30 closed

[2020-05-03 23:48] YikSanChan opened #47 "filter received messages by the result of useEffect"
Hi,

I have a use case where:
- The component mounts
- const [whitelistedIds, setWhitelistedIds] = useState([])
- useWebSocket(url, {filter: msg => whitelistedIds.contains(parse(msg))})
- useEffect is triggered after the first render, which pulls whitelistedIds and setWhitelistedIds

However, at the very moment useWebSocket is triggered, whitelistedIds is empty, thus the filter does not work as ex

[2020-05-04 02:52] robtaussig commented on #47
Hi @YikSanChan,

Would you mind updating your repo with this? This would have definitely been an issue prior to v2, which required static options, but v2 should work with this. So first suggestion is to update to v2 if you haven't done so, and if you have, make sure that you are not using the useMemo implementation (which based on your second bullet point, it looks like you're good so far). Also,

[2020-05-04 02:59] YikSanChan commented on #47
Do you mean having a reproducible demo?

Yah, I am on v2, and I like the third-param solution, very nice. Thank you so much for the work!

[2020-05-04 02:59] #47 closed

[2020-05-26 14:23] ayooby opened #48 "Failed to construct URL from URL and Promise"
I tried to pass a function/promise, but it didn't work at all.
I used the online demo, and also the error was still there.

[code]

can you please tell me what the problem is?

[2020-05-26 15:13] robtaussig commented on #48
hi @ayooby!

Thank you for bringing this to my attention. The async url feature was introduced in a later version of the library than the one used in that demo. I updated the demo to use the latest version and tweaked the behavior of it to demonstrate the async url feature.

[2020-05-26 15:13] #48 closed

[2020-05-27 14:14] robtaussig commented on #43
Closing this for now.

[2020-05-27 14:14] #43 closed

[2020-06-12 13:47] pankajgupta1 commented on #34
Hi this not again working in new version 2.0.1.
I am using shared websocket, but on unsubscription, when i again comes to a component in which I have used useWebSocket, then this not works. No connection occur.

[2020-06-12 15:18] afvr94 opened #49 "[QUESTION] Getting `A subscriber that is no longer registered has attempted to unsubscribe`"
Hello,

First of all great library and very useful. So, I'm getting a lot of this type of error `A subscriber that is no longer registered has attempted to unsubscribe` and wanted to know why? I saw the source code but still can't understand. Do I have to use the same options for every shared web socket?

Example of first initialized web socket, this is called in my main app file.
[code]

And I ha

[2020-06-12 17:23] robtaussig commented on #34
Hi @pankajgupta1 ,

Could you please provide an example that I can look at to reproduce?

[2020-06-12 22:43] robtaussig commented on #34
Hi @pankajgupta1,

I believe you hit the same (or similar) issue as reported here: #49.

To keep the conversation in one place, please check that thread! Thanks!

[2020-06-12 23:24] robtaussig commented on #49
Hi @afvr94,

First, thank you for the kind words:)

And welcome @pankajgupta1 (who I believe is having a similar problem and commented in another thread)

So, this stumped me for a while as I tried to reproduce it, but I believe I have found the problem(s), and if I'm right, there are quite a few issues with how I was handling shared websockets. First, to illustrate a scenario:

[code]
There's a f

[2020-06-13 22:39] afvr94 commented on #49
Thank you for your response and explanation. Makes sense that that is making show up the error. Will be testing out `2.0.3-b.3` and will report back if I encounter any bugs. Thank you again.

[2020-06-13 22:41] robtaussig commented on #49
Hi @afvr94,

Please try 2.0.3-b.4. I normally develop on a mac, but did so on a PC last night. The build script didn't work and I accidentally published the uncompiled source

[2020-06-15 06:50] pankajgupta1 commented on #49
Hi @robtaussig thanks for your response. Actually my problem is not this. My problem is
1) I am, using shared websocket.
2) when I reload the app in ios simulator, then connection not made automatically.
3) I have to close the app in simulator, and then reopen, then connection is made.

Also I tried the above version 2.0.3-b.4., but this giving error, which is in attached screenshot
<img width="37

[2020-06-15 12:56] afvr94 commented on #49
Hi @robtaussig,

Been testing out `2.0.3-b.4` and the socket does reconnect but I do not receive any message through it (neither parent and child socket). When I do a full refresh is when I start getting messages again. Let me now if you need anything from me. Thanks.

[2020-06-15 13:44] robtaussig commented on #49
@pankajgupta1

I'm sorry to ask this of you, but could you try deleting node_modules and reinstalling? I removed the '/add-subscriber' file completely in 2.0.3-b.4, so it shouldn't be referenced in any dependency-trees.

[2020-06-15 13:49] robtaussig commented on #49
Hi @afvr94 ,

If you check the network log in dev-tools and inspect the websocket connection, can you confirm whether the new (reconnected) websocket is receiving messages (as opposed to it receiving a message but not passing it on to the component(s))? Also, in order to receive messages, is there a step that is required when the websocket first opens (like subscribing to a topic, etc) that perhap

[2020-06-15 14:02] afvr94 commented on #49
Hi @robtaussig, I deleted my comment because I have something wrong with my code when socket gets reconnected. Will post back when I get all fixed up. Thanks.

[2020-06-17 05:40] pankajgupta1 commented on #49
yes now this build error not happening. Thanks.

[2020-06-18 22:25] afvr94 commented on #49
Hi @robtaussig, been testing out `2.0.3-b.4` and everything seems to be working as expected. If I find something will let you know. Thank you so much.

[2020-06-19 00:53] robtaussig commented on #49
Great. Bumped to 2.0.3. Thanks for your continued feedback!

[2020-06-19 00:53] #49 closed

[2020-07-15 00:41] daldridge-cs opened #52 "Hooks equivalent of this class-based mount/unmount?"
I apologize in advance if this is a dumb question, but I'm a hooks newbie, and am wondering how I'd use this react-use-websocket hook to perform the equivalent of this pseudo-code:
[code]

Thanks for any assistance you can provide!

[2020-07-15 01:35] robtaussig commented on #52
Hi! Forgive potential formatting issues, I'm on mobile:

[code]

[2020-07-15 13:02] #52 closed

[2020-07-16 08:08] watanabeshuji opened #53 "Do not reconnect when queryParams value changed."
Hi, I use useWebSocket with queryParams.
And I need to change parameter on user interface (user_id is query param).

When url contains variable params, it works.
But when using queryParams, it does not work.

Work
[code]

Not Work!
[code]

[2020-07-16 09:07] watanabeshuji opened #54 "setLastMessage or clearLastMessage"
I need `setLastMessage` or `clearLastMessage`.

I want to change parameter in url and reconnect.
So lastMessage at old param is not good.
It should be null.

So...
1. when url change, clear lastMessage
2. return clearLastMessage function at useWebSocket

[2020-07-16 10:51] robtaussig commented on #53
Excellent point -- it should definitely reconnect when changing queryParams. Will fix immediately.

[2020-07-16 10:52] robtaussig commented on #54
I agree on both suggestions, and will implement.

[2020-07-16 11:19] robtaussig commented on #54
Would you still need clearLastMessage if lastMessage gets cleared on reconnect (and if it reconnects correctly when url/queryParams change)?

[2020-07-16 11:23] robtaussig commented on #54
In the meantime, lastMessage will be cleared in the cleanup function for reconenct behavior:

35445b0

[2020-07-16 11:26] robtaussig commented on #53
Changes to queryParams should now trigger the same reconnect behavior as if changing the url:

2401015

Released as version 2.1.0

[2020-07-16 11:26] #53 closed

[2020-07-16 11:37] watanabeshuji commented on #54
No.
Automatically clear is enough to use, I think.

Thank you!

[2020-07-16 12:32] robtaussig commented on #54
Great. I'll close this then.

[2020-07-16 12:32] #54 closed

[2020-08-17 07:35] Artoria-0x04 opened #56 "How to manually close and reconnect a socket?"
In my situation, I need to temporarily close the connection and reconnect on the user's action. But native `close()` is protected and I don't find a method to reconnect a closed connection except for the built-in auto reconnecting.

[2020-08-26 12:48] hoanglam10499 commented on #56
@Artoria-0x04
![Untitled](https://user-images.githubusercontent.com/37326429/91305284-07046400-e7d5-11ea-89a7-b208f26d9c6c.png)

[2020-08-28 19:14] caprica opened #57 "Reconnects leaking sockets?"
I am testing this library and how it handles reconnects. I'm using a slightly modified version of the example application from the project README.

On the face of it, the reconnects appear to work just fine, I see the socket state going to closed when I kill my server then back to open after my server restarts, and the subsequent messages are delivered properly.

However, I am concerned about what

[2020-08-29 00:25] robtaussig commented on #57
Hi @caprica

I'm not familiar with how devtools tracks the Status, but I have only seen 'Finished' for websockets that never opened to begin with. If you attempt the following in console:

const a = {};
a.b = new WebSocket(/*websocket url*/');
a.b.onopen = () => {
    a.b.close();
    delete a.b;
}

You will see that the websocket closes based on the 'Time' column, but the Status will never change

[2020-08-29 00:31] robtaussig commented on #57
And if you are not referring to the status column, but instead the fact that there are multiple websockets, it's because you have to create a new websocket in order to reconnect.

[2020-08-29 05:59] caprica commented on #57
It was the status I was referring to, because some of them went to "Finished" I expected them all to.

But your explanation makes sense and this issue is just me misinterpreting what the DevTools are showing me.

Thank you.

[2020-08-29 05:59] #57 closed

[2020-09-02 13:13] jericopulvera opened #58 "How to Handle sendMessage error response?"

[2020-09-02 13:14] jericopulvera opened #59 "How to Handle sendMessage error response?"
Hi,

I'm trying to validate a JWT token in the server side and when returning a 401 response how do I handle it at the frontend?

[code]

What I've tried so far.

[code]

Did not log the error.

[2020-09-10 01:28] eric-blue commented on #58
close?

[2020-09-10 01:28] eric-blue commented on #56
close?

[2020-09-10 01:47] jericopulvera commented on #58
I decided to handle message sending using HTTP instead as the only way I could think of how to handle the error message is by firing an event to the client and I think that's wasteful.

[2020-09-10 01:47] #58 closed

[2020-09-10 02:31] robtaussig commented on #56
Thank you @hoanglam10499. Closed.

[2020-09-10 02:31] #56 closed

[2020-09-10 02:53] robtaussig commented on #59
I apologize for the late reply. To be perfectly honest, I don't have a lot of experience with communicating errors via websockets, but my understanding is that if you want to trigger the onerror method of the websocket, the server will need close the connection with an 'abnormal' status code. See [here](https://tools.ietf.org/html/rfc6455#section-7.4.1).

Regarding your intended use-case, [this](h

[2020-09-10 03:05] jericopulvera commented on #59
Currently, we decided to use HTTP to handle sending messages as for our use case the user should receive messages when not authenticated, and by authenticating they'll be able to send messages.

[2020-09-16 08:56] Artoria-0x04 commented on #56
Thanks, I haven't noticed that and temporarily reject the async `getSocketUrl` instead.

[2020-09-17 01:28] IPetrik opened #60 "null URL not actually allowed"
I am using v2.1.1 and get the following error on compile:

[code]
Here is what `node_modules/react-use-websocket/dist/lib/use-websocket.d.ts` looks like:
[code]
And here is the declaration in `node_modules/react-use-websocket/src/lib/use-websocket.ts`:
[code]
I don't know why `null` is missing from the types in the `dist` file.

[2020-10-01 10:07] fourteenmeister opened #63 "readyState not changed when websocket has been closed"
https://stackblitz.com/edit/react-5tgwoe?file=index.js

when click on Close socket button onClose event does not fire either and readyState has not changed,
but in fact the connection is closed

Question: does this hook support a close event from the client side?

[2020-10-01 16:51] #59 closed

[2020-10-01 17:13] robtaussig commented on #60
Sorry for the late reply. Looks like I didn't republish after fixing the type definition. Fixed in 2.1.2. Thanks for catching!

[2020-10-01 17:13] #60 closed

[2020-10-01 17:54] robtaussig commented on #63
Thank you for catching this! Fixed here: ed5075 for 2.2.0

The issues were somewhat separate:

1) onClose event was not being called for shared websockets for the last subscriber (i.e., if there were three components sharing a websocket, and all three closed, then the first two would get a close event, but the last one would not. In the case of having a single shared websocket, the close event wou

[2020-10-01 17:54] #63 closed

[2020-10-02 16:09] fourteenmeister opened #64 "Events are fired multiple times when share is true and the useWebSocket hook is used in different components"
https://stackblitz.com/edit/react-h845um?file=index.js

onOpen event in this example works twice, although the connection is only one

[2020-10-03 21:48] domino14 opened #65 "websocket auto-reconnects anyway"
Hi, I'm trying to use this library for my websocket needs. I am trying to handle reconnects myself. This is mainly because the URL has time sensitive tokens.

So I set these options:

[code]

Then, on my test laptop, I turn off the wi-fi for like 30 seconds. When I turn it back on, not only does it try to reconnect the first socket, but it also tries to reconnect with an all-new socket, so now I h

[2020-10-04 00:37] domino14 commented on #65
I'm pretty sure this is a PEBKAC

[2020-10-04 00:37] #65 closed

[2020-10-06 13:43] robtaussig commented on #64
This is expected behavior. Sharing a websocket means that each component subscribes to a single websocket -- so one connection but all other behavior occurs as if the websocket is local to each component.

[2020-10-06 13:43] #64 closed

[2020-10-28 11:18] jaecktec opened #66 "Handle getWsUrl failiure simmilar to WS failiures"
When async URL fetching fails, try to refetch the url in 'retryInterval' time again.

Why:
Using WebSocket token authentication (wsUrl returns a one time token)
Fetching fails for some reason (Like restarting the service, losing internet connection)
It should try to fetch it after 'retryInterval'

So I can reconnect once the service is up and running again.

I'd be willing to add this in a PR if y

[2020-10-28 13:13] robtaussig commented on #66
Ahh, great point! I will implement for next release, or happy to accept a pull request if you need it sooner.

[2020-11-11 19:29] florianbepunkt opened #67 "Expose error message"
Thank you for the work you put into this. I would like to connect to a socket that requires authentication (AWS WebSocket API Gateway). If I provide the wrong credentials and the connection is rejected, I can see the error message in the console, but it seems it is not exposed in the hook

`WebSocket connection to 'wss://myuri/?Authorization=SOMEAUTH' failed: HTTP Authentication failed; no valid c

[2020-11-14 17:46] florianbepunkt opened #68 "Websocket messages not sent when using a shared"
There is another issue. I am using several wrapper components that are responsible for different data fetching / processing tasks, each using useWebsocket hook with a shared socket (`share={true}`).

[code]
Inside the SecondUseWebsocket component I try to fetch some data after the component mounts

[code]

The component mounts and the effect is called, however on inspecting the websocket in chrome

[2020-11-22 14:00] #68 closed

[2020-11-22 14:01] #67 closed

[2020-11-30 07:53] devhyunjae opened #69 "Possible to send Authorization header?"
In ReactNative, this is possible
[code]

[code]

But seems like browser's WebSocket API doesn't support. and also your awesome lib returns 401 response message when doesn't have this auth token in header.

Any tips?

[2020-12-04 14:17] robtaussig commented on #69
Hi!

Sorry for the late reply. My understanding is the JS implementation of WebSockets does not support additional headers -- (see [here for a discussion](https://stackoverflow.com/questions/4361173/http-headers-in-websockets-client-api). That said, the library gives you access to the optional protocols param through [options.protocols](https://github.com/robtaussig/react-use-websocket#options), w

[2020-12-04 14:42] robtaussig commented on #66
Had a moment to check in on this, and my reading of it is that this should already be the behavior. The reconnect function calls the same function used to get the url in the start phase, which means it refetch the url in the retryInterval:

[code]
Are you seeing different behavior? If so, do you have any thoughts on how to change above logic?

[2020-12-07 12:26] devhyunjae commented on #69
@robtaussig Thanks for the response! Smells i should look for other auth solution and then use you lib 😀

[2020-12-07 12:26] #69 closed

[2020-12-08 10:07] jaecktec commented on #66
maybe we should add some tests 🙈
I noticed this behaviour.
From the code I think there should be a try/catch around the `getUrl` part..

[2021-01-12 02:31] brioapp opened #70 "Handle ping/pong"
The server sends a PING message to the client, which then need reply with PONG. Is there any good way to deal with this?

[2021-01-14 11:27] rwalle61 opened #71 "Include react as peerDependency?"
Hi, firstly thanks for this cool package! We've started using WebSockets in our react app and are giving this package a go.

When compiling our app with webpack 5.1.3 locally (using `yarn start`), I see this warning:
<img width="1280" alt="image" src="https://user-images.githubusercontent.com/18170169/104584583-bf368a00-565a-11eb-8c9c-4fc698dcc960.png">

Did you mean to not include react as a peer

[2021-01-14 11:28] rwalle61 opened #72 "Include react in package.json?"
Hi, firstly thanks for this cool package! We've started using WebSockets in our react app and are giving this package a go.

When compiling our app with webpack 5.1.3 locally (using `yarn start`), I see this warning:
<img width="1280" alt="image" src="https://user-images.githubusercontent.com/18170169/104584583-bf368a00-565a-11eb-8c9c-4fc698dcc960.png">

Did you mean to not include react as a depe

[2021-01-14 11:28] #72 closed

[2021-01-21 14:25] robtaussig commented on #71
Thanks for bringing this to my attention, and apologies for the late reply. Will implement shortly:)

[2021-01-21 14:26] robtaussig commented on #66
Tests are never a bad idea. Will close for now and start working on some tests when time frees up. Feel free to re-open if the problem persists.

[2021-01-21 14:26] #66 closed

[2021-01-21 14:50] robtaussig commented on #70
Hi @brioapp,

If you are using the useSocketIO plugin (you can import it as a named export from 'react-use-websocket'), then the ping-pong behavior required for socketIO should be handled for you. If you are using the default hook, then I'd recommend something like:

[code]

[2021-01-21 14:50] #70 closed

[2021-01-23 01:52] robtaussig commented on #71
[Added!](https://github.com/robtaussig/react-use-websocket/commit/24753f246a5cfcd985b0dd7a0d695786c75603f0#diff-7ae45ad102eab3b6d7e7896acd08c427a9b25b346470d7bc6507b6481575d519)

[2021-01-23 01:52] #71 closed

[2021-01-31 18:51] rwalle61 commented on #71
Thank you very much!

[2021-02-03 16:11] Chase22 opened #73 "React 17"
Currently trying to install the library with react 17 give a dependency resolution exception

[code]
The library looks really nice and i could easily downgrade to 16.8, but supporting react 17 would be nice

[2021-02-03 18:45] robtaussig commented on #73
Thank you @Chase22 for your kind words. Pushed and published cca8dba (v2.4.1)

Let me know if you have any issues!

[2021-02-03 18:45] #73 closed

[2021-02-08 23:25] brandonm opened #74 "RetryInterval ignored for shared = true"
I have a simple Spring Websocket server that will close a connection when an unknown connection is connected.  When I have this lib setup with `share: true` then `reconnectInterval` is ignored and it will immediately reconnect.  When shared is false it is waiting.  I do use an async url request promise that will generate a new url on each connection attempt but I'm assuming its the incrementer tha

[2021-02-10 16:13] robtaussig commented on #74
Thanks for bringing this to my attention. Will investigate.

[2021-02-11 15:44] robtaussig commented on #74
Hi @brandonm,

It's been a while since any work was done on that particular code, and while I am certainly capable of dumb mistakes, it does look like it might have been intentional to fire off the first reconnect attempt immediately for shared websockets (otherwise, why use the conditional at all?). Since this is both counter-intuitive to how intervals typically work as well as different from how

[2021-02-16 00:34] alduro opened #75 "How to mock lastJsonMessage using Jest"
Hi, I have this code

[code]

and I was wondering how should I mock lastJsonMessge in a test ?

Thanks in advance.

[2021-02-16 14:34] robtaussig commented on #75
Hi @alduro,

lastJsonMessage is generated with the following:

[code]
UNPARSABLE_JSON_OBJECT is a static empty object. So where no message has been received from the websocket server, lastJsonMessage will be null -- otherwise it will be a JSON-parsed representation of the message (or an empty object if the message isn't parsable). As far as mocking it, that depends on how you are mocking the webso

[2021-02-16 14:34] #75 closed

[2021-02-16 14:36] robtaussig commented on #75
Specifically, here is testing lastJsonMessage:

https://github.com/robtaussig/react-use-websocket/blob/94fc42c66fb24f3ca9533f897fb884fa9ad7a496/src/lib/use-websocket.test.ts#L104

[2021-02-18 19:11] eric-blue opened #76 "InvalidStateError: Failed to execute 'send' on 'WebSocket': Still in CONNECTING state."
Hey, I wonder if you can help, or see anything that jumps out at you. I've been having this issue for a while and can't seem to source the issue. I've got a hook that consumes your `useWebSocket` hook with a little more going on. I've simplified it for the example but can post a full version if you think it would help.

`InvalidStateError: Failed to execute 'send' on 'WebSocket': Still in CONNECTI

[2021-02-18 19:14] eric-blue commented on #76
I should mention that this error is seldom recreated locally, and instead, I am seeing it crop up in logs over time to the tune of 118k events from 6k users, largely on chrome, chrome mobile, edge

[2021-02-19 00:04] robtaussig commented on #76
Hi @eric-blue,

I remember you:)

Thank you for bringing this to my attention -- socket.io requires a ping/pong system and so the library sets it up on an interval. Instead of using the function that queues up pre-connection messages, it directly calls WebSocket#send. I have fixed the issue and updated the tests. Live now in version 2.5.0. Thank you so much!

https://github.com/robtaussig/react-us

[2021-02-19 00:04] #76 closed

[2021-02-19 00:06] robtaussig commented on #74
Released to 2.5.0. Thank you for your feedback!

[2021-02-19 00:06] #74 closed

[2021-02-19 16:16] MarcelRobitaille commented on #70
This assumes that the ping / pong is handled with `sendMessage('PING')` and `sendMessage('PONG')`, but what happens if I use [node ws](https://github.com/websockets/ws) on my server with `client.ping()` and `client.on('pong')`? I don't even see these ping messages in the frontend and ws doesn't recognize `sendMessage('PONG')` in `client.on('pong')`.

[2021-02-22 18:49] eric-blue commented on #76
This is fantastic! I greatly appreciate it 🎆

[2021-04-01 22:24] whawker opened #77 "Question: Support for server sent events?"
Hi, I was curious if this library supports [server-sents events](https://developer.mozilla.org/en-US/docs/Web/API/Server-sent_events/Using_server-sent_events)?

I've had a look through the code, and I can't see anything obvious, but I was wondering, as that linked MDN page says the EventSource API is almost identical to the websockets API whether this use case had been raised before?

Great work o

[2021-04-07 14:12] robtaussig commented on #77
Looks interesting! It does appear almost identical to the WebSocket API -- I'll look into later and perhaps make a beta release with EventSource support. Thanks for bringing this to my attention!

[2021-04-07 18:02] robtaussig commented on #77
Hi @whawker,

Just published d5c3035 to [2.6.0-alpha.0](https://www.npmjs.com/package/react-use-websocket/v/2.6.0-alpha.0) that supports this, and updated the [documentation](https://github.com/robtaussig/react-use-websocket/tree/event_source#eventsourceoptions). Tested it, and it worked with the following:

[code]

[code]

Open to any suggestions!

[2021-04-07 19:43] whawker commented on #77
Fantastic! Thank you! I will give it a go and get back to you.

In terms of suggestions, I wonder if this should be exposed a separate hook entirely, say `useEventSource`?

I think they fulfil different use cases, and I think it may cause confusion due to the documented differences? (P.s. thanks for the docs too!)

[2021-04-07 21:38] robtaussig commented on #77
Np!

I agree with you and prefer your approach to make it a separate hook. Will implement that before merging with official branch. Thanks!

[2021-04-08 10:53] gz89 opened #78 "How to handle Offline status"
I configured real-time updates using react-use-websocket library.
If a user goes offline, I need to show offline status.
Is there a feature like that?
For example, ReadyState.OFFLINE

[2021-04-08 16:51] whawker commented on #77
As server sent events are a HTTP protocol connection, rather than a websocket, it would be useful if I could send additional HTTP headers such as `Authorization`?

Would that at all be possible, or does that bloat the API here considerably?

[2021-04-08 20:12] whawker commented on #77
It appears I have found out why Event Source is not widely used - there is no way to pass HTTP headers on the request, so I can't use a JWT bearer token to authenticate my request as I assumed. There is the `withCredentials` option to pass Cookies, but this is far from ideal.

I'm not sure what you would like to do with this issue, but it seems likely I'm going to have to explore other technologie

[2021-04-09 15:21] whawker commented on #77
We have decided to press ahead with this, and just to avoid sending any sensitive information down the stream. In this sense `EventSource` events act as triggers to fetch data via standard API requests.

Just an observation, [binding directly to the `onmessage` handler](https://github.com/robtaussig/react-use-websocket/blob/event_source/src/lib/attach-shared-listeners.ts#L12), means only events wi

[2021-04-12 13:52] robtaussig commented on #78
Hi @gz89,

This might be a little out of scope for a websocket library, but you can accomplish this through the online/offline event listeners:

https://stackoverflow.com/questions/189430/detect-the-internet-connection-is-offline

[code]

[2021-04-12 13:52] #78 closed

[2021-04-12 13:57] robtaussig commented on #78
If you wanted to turn that into a react-hook, it might look something like this:

[code]

[2021-04-12 13:59] gz89 commented on #78
Thanks for sharing!

[2021-04-12 14:56] robtaussig commented on #77
Hi @whawker,

All great points, and regarding your initial apology about (potentially) wasting my time, that is not necessary at all -- always exciting to learn new web APIs.

That said, I really like your proposed api. A few thoughts:
1) What do you think about adding a `lastEvent` return property that returns any event not covered by `lastMessage` (which would return any event with event type 'm

[2021-04-12 15:29] whawker commented on #77
@robtaussig thanks, apologies about being alarmist originally, it was just frustration of discovering the authentication problem right when we thought everything should slot into place.

Personally I think `lastEvent` should return events of all types, including those of `message` type, I think it might be odd to work out whether `lastMessage` or `lastEvent` has changed, unless you're imagining a

[2021-04-15 13:24] robtaussig commented on #77
Hi @whawker,

No apology needed. Ok, I'll go with lastEvent including all events, regardless of type. Hopefully should have this out before EOW!

[2021-04-21 12:38] cubecleveland opened #79 "Multiple Websocket connection ?"
Hello,
Not sure if this is an issue or a discussion or just not understangin the code.. :)

Looked at the code and it seems like every component is opening a  new WebSocket connection via new WebSocket()
I cant really spot the 'sharing mechanism' Can u assist  ands let me know where in the code the compoenent actually shares the connection that akleady exist s?

Thanks
R

[2021-04-22 16:03] whawker commented on #77
Hi @robtaussig can I provide any assistance for the new release?

[2021-04-22 20:14] robtaussig commented on #77
@whawker

Apologies for the late reply -- got a little busy at work. I appreciate your offer, but should be able to get this out shortly!

[2021-04-22 22:33] robtaussig commented on #77
Hi @whawker,

I merged to master and published to [2.6.0](https://www.npmjs.com/package/react-use-websocket/v/2.6.0).

3fe9ae

Updated README:
https://github.com/robtaussig/react-use-websocket#useeventsource

Let me know if I missed anything!

[2021-04-22 22:33] #77 closed

[2021-04-22 22:37] whawker commented on #77
Amazing! Thank you so much! I'll give it a go!

[2021-04-23 12:27] cubecleveland commented on #79
Hi!

Yes i solved it, i read through the code and i think the imlemetation is neat but the use case for me would not work in the way the socket was implemented and the share.

Mainly im looking for a function that will only update the socket every interval......
Only send the queeuu to the COmponeent every 10 seconds in an array of what was recieved in the last interval.

Reason is im dealing with

[2021-04-23 12:45] robtaussig commented on #79
@cubecleveland

I'm glad you brought that up -- I have been meaning to implement a throttle param that does just that -- accept a duration, and batch messages in groups such that you only ever get one update per interval. I think I'll do that next!

I think using the filter param is interesting and probably more performant than my next suggestion, but it will require abusing the filter callback:)

[2021-04-23 12:48] cubecleveland commented on #79
Correct.

IMHO.....  using the filter doesnt work and it will require some refactoring .
Maybe adding Interval params to the option and justrun the filter on that interval... just a thought....
either way will be a great thing....

In the meantime, i just implemented my owb hook not using your library but i would love to once this feature is enabled...

Thanks so much for your great work!

[2021-04-28 09:18] smilexlong opened #80 "don't support react@16.14.0?"
my react edition is react@16.14.0, use react-use-websocket
tell me :
npm ERR! While resolving: ant-design-pro@4.5.0
npm ERR! Found: react@16.14.0
npm ERR! node_modules/react
npm ERR!   react@"^16.14.0" from the root project
npm ERR!   peer react@">= 16.8.0" from react-use-websocket@2.6.1
npm ERR!   node_modules/react-use-websocket
npm ERR!     react-use-websocket@"*" from the root project
npm ERR!

[2021-05-07 14:30] robtaussig commented on #80
Hi @smilexlong,

Thank you for bringing this up, and I apologize for the delay.

I'm a bit confused though because this library only depends on react as a peerDependency, and it does so as leniently as I thought possible:

[code]
My understanding of how peerDependencies work is that the library will use whatever version of react is installed in your project's node_modules folders, so long as it sa

[2021-05-08 01:23] smilexlong commented on #80
this is my package.json

`
{
  "name": "ant-design-pro",
  "version": "4.5.0",
  "private": true,
  "description": "An out-of-box UI solution for enterprise applications",
  "scripts": {
    "analyze": "cross-env ANALYZE=1 umi build",
    "build": "umi build",
    "deploy": "npm run site && npm run gh-pages",
    "dev": "npm run start:dev",
    "fetch:blocks": "pro fetch-blocks && npm run prettier

[2021-05-09 12:27] sachin-agarwal-by opened #81 "Web Socket share = true is creating multiple instances"
I am using react-use-websocket and observe that as per documentation if we add shared as true then same web socket connection needs to be share for same request url. But In my case I have created a sample application in which I am using webSocket Connection in app.tsx which is like to maintain websocket at application level and then we are using for websocket per Screen for example from Home scree

[2021-05-11 06:43] sachin-agarwal-by commented on #81
@robtaussig Can someone look into this please.

[2021-05-11 06:48] SrinivasSwaroop-Dev commented on #81
Facing the same @robtaussig kindly look into this at the earliest

[2021-05-11 14:45] robtaussig commented on #81
Hi @sachin-agarwal-by,

I'm using your sample application, and am only seeing one websocket instance created. Please confirm that I am testing correctly:

1) Open https://codesandbox.io/s/cool-fast-kl6ms
2) Click 'Home' at top

--------

To verify # of websocket instances, you will need to open devtools and look at the network tab. You can make this easier by selecting 'WS' as the filter. It might

[2021-05-11 16:11] sachin-agarwal-by commented on #81
Thanks @robtaussig for detail explanations . I got doubt from the same place as you mentioned "The console.logs you see are not indicative of how many websockets are being opened" , So Its clear now and I can see we are only maintaining only one web socket instance.

I would like to bring one more point here that Did you face any scenario where the websocket connection ready state is in CONNECTING

[2021-05-11 20:17] robtaussig commented on #80
Your package.json doesn't include `react-use-websocket` as a dependency. Are you just trying to `npm install` it directly?

I was able to clone https://github.com/ant-design/ant-design-pro but not able to reproduce your error. Are you passing any flags when you run npm install? What version are you using?

[2021-05-12 02:16] sachin-agarwal-by commented on #81
@robtaussig  sure , thanks for ur help, I will try to repro the scenario in codesandbox if anyhow I am able to do.

[2021-05-12 02:16] #81 closed

[2021-05-12 02:51] smilexlong commented on #80
The above error occurred when I executed  ‘npm install --save react-use-websocket‘

[2021-05-17 13:53] qmg-rwaller commented on #67
hi @florianbepunkt, I have the same use case, did you manage to resolve it?

[2021-05-17 14:11] florianbepunkt commented on #67
@qmg-rwaller No, we skipped using this lib in the end and used a custom websocket client, based on the default browser implementation.

[2021-05-17 14:23] qmg-rwaller commented on #67
Thanks, I may have to do the same. If you don't mind me asking, how did you access the Unauthorized HTTP status code / error message with the custom client? The [default browser implementation](https://developer.mozilla.org/en-US/docs/Web/API/WebSocket) doesn't seem to provide anything more than this module

[2021-05-17 15:15] florianbepunkt commented on #67
I believe, we didn't. We first checked connectivity before authenticating. Then we treated every error before a successful auth (that was not due to lack of connection) as an authentication error. It was not perfect but good enough for our use case.

Another approach we discussed was to use an http api for authentication... it depends on your use case whether this is a viable approach, but the ide

[2021-05-17 16:11] DZuz14 opened #85 "Property EventSource does not exist"
## Description
Upgrading from version `2.5.0` to `2.6.1` results in a red screen of death in React Native, with the error, "Property EventSource does not exist". Version `2.5.0` works just fine, and I have not tested version `2.6.0`.

## System Info
[code]

![Screenshot_1621268793](https://user-images.githubusercontent.com/19492185/118523550-395f4400-b70b-11eb-8795-546dea1c4677.png)

[2021-05-17 16:26] robtaussig commented on #67
I apologize for letting this slip through the cracks. I was away for much of the month of November, and assumed the issue resolved when it was closed.

I don't mind the idea of exposing errors through the hook interface, similar to lastMessage and in addition to the callback option, but wonder if this would even be better than the approach that @florianbepunkt eventually took (which I think is rea

[2021-05-17 16:30] qmg-rwaller commented on #67
Thanks, that's really helpful. Sounds complicated, I'll give it some thought!

[2021-05-17 16:41] qmg-rwaller commented on #67
Thanks @florianbepunkt and @robtaussig for the suggestions (and @robtaussig for maintaining this cool library)! Yea having researched my issue, there's no problem with this package at all 😄 The WebSocket api itself seems [designed not to expose the HTTP response code of the WebSocket handshake to javascript](https://stackoverflow.com/a/27336934/9864252), so the default browser implementation is no

[2021-05-17 16:44] robtaussig commented on #85
Hi @DZuz14,

Thank you for bringing this to my attention -- I am not experienced with React Native, but it looks like React Native does not support EventSource api out of the box, but cursory research suggests this might be fixable with a polyfill:

https://github.com/jordanbyron/react-native-event-source

If you wouldn't mind, could you see whether installing react-native-event-source and importi

[2021-05-17 16:47] robtaussig commented on #80
I'm still unable to reproduce on my machine, using the package.json you provided. What version of npm and node are you running? And if you wouldn't mind, can you try setting react and react-dom to the same version (either both to 17.0.0 or both to 16.14.0) and then try again?

[2021-05-18 13:49] DZuz14 commented on #85
@robtaussig Thank you very much for your response! I will give installing that package a shot and let you know.

[2021-05-18 16:33] qmg-rwaller commented on #44
hi @robtaussig, thanks for implementing this option, I've just used it 😄 would be great to see it doc'd in the README - I'd raise a PR but not sure where in the README is best to document this 3rd argument to the function

[2021-05-18 17:45] DZuz14 commented on #85
@robtaussig After checking out the code for `react-native-event-source`, it doesn't look like importing this package before `react-use-websocket` will have an effect.

Checking the [index.js file](https://github.com/jordanbyron/react-native-event-source/blob/master/index.js), this file exports a class named RNEventSource, in which an [EventSource](https://github.com/jordanbyron/react-native-event-

[2021-05-18 18:06] robtaussig commented on #85
I see -- apologies for wasting your time. I had assumed from their example that it was polyfilling `EventSource`, but likely just a mistake in their documentation and they mean to instantiate `RNEventSource`:

[code]

For now, I'll add guards against this error, without supporting `EventSource` for `react-native`, since `EventSource` support is not a high priority for this library. Thanks again fo

[2021-05-18 18:12] robtaussig commented on #85
@DZuz14,

Not being familiar with React Native, I don't want to assume anything, but would the following be a reasonable runtime guard?

[code]

[2021-05-18 18:18] robtaussig commented on #44
@qmg-rwaller

Good suggestion -- it's quazi-documented in the [New in V2](https://github.com/robtaussig/react-use-websocket#new-in-v2) section, but that section is both logically temporary and also not somewhere developers will typically look for actual documentation. I think something as basic as the parameters should likely be pretty high up in the README -- will add and update shortly:)

[2021-05-18 18:31] DZuz14 commented on #85
@robtaussig An initial check for window might help as well, reason being is I believe the `'EventSource' in window` by itself will result in a reference error, as React Native does not have a window variable at all.

[code]

[2021-05-18 18:38] robtaussig commented on #44
Added a section called [Interface](https://github.com/robtaussig/react-use-websocket#interface). Let me know if you have any thoughts!

[2021-05-18 18:40] robtaussig commented on #85
Thanks, that's what I was worrying about. I'll do a bit of research myself, but will defer to any ideas you come up with.

[2021-05-18 18:51] DZuz14 commented on #85
That looks like it works perfectly!

[2021-05-18 18:51] DZuz14 commented on #85
Thank you for the quick responses and the package as a whole. I'll await an updated release to see if that fixes everything.

[2021-05-18 21:08] robtaussig commented on #85
Hi @DZuz14,

Pushed out a fix and bumped library version to 2.7.0. Let me know how it works for you!

201a922f00e43510e1ec7c08ef751ff36d4e817e

[2021-05-19 08:43] qmg-rwaller commented on #44
Ah yea I missed it in the New in V2 section, and should have checked the TypeScript. The new Interface section looks great, thanks!

[2021-05-19 13:43] DZuz14 commented on #85
@robtaussig I can confirm that the fix works. My app is now utilizing `2.7.0`.

[2021-05-19 13:45] robtaussig commented on #85
Excellent -- thank you for your report and for your time in helping me resolve this.

[2021-05-19 13:45] #85 closed

[2021-05-19 15:08] elmcrest commented on #79
hey all,
let me know if I should open another issue for my case since I'm not sure if it makes sense to add it here.

I receive JPGs via websocket, one JPG at a time base64 encoded and I am rendering it in a RequestAnimationFrame hook (`react-timing-hooks`), setting the src attribute of an img element. the effectively is a mjpeg stream but Safari isn't working reliable with the "default way" - to

[2021-05-20 03:31] LoganAtCrypto opened #86 "SSR broken: window is not defined"
The error is raised at:
https://github.com/robtaussig/react-use-websocket/blob/17ae9151fd6d36a35e62f1fee3d6e236971276c6/src/lib/constants.ts#L28

Thanks!

[2021-05-20 06:29] jacklooi96 commented on #86
Having the same issue

[2021-05-20 08:52] hectorchanht commented on #86
I downgrade to 2.6.1 to avoid this problem. dev please fix by avoid using window, thanks

[2021-05-20 11:18] robtaussig commented on #86
Thanks @LoganAtCrypto , @jacklooi96 , @hectorchanht for the fast report.

Fixed and bumped to 2.7.1

11265c47645d6e226ece817d290bce9e8d3df5ba

[2021-05-20 11:18] #86 closed

[2021-06-04 01:53] vmto opened #89 "Build to release environment, socket connection failed"
Build to release environment, socket connection failed

[code]

[2021-06-07 14:06] robtaussig commented on #89
Could you expand on what your issue is? Is there a stack trace that you can share?

[2021-06-08 08:25] vmto commented on #89
I have a screenshot !!!

![01](https://user-images.githubusercontent.com/22423716/121150293-f7db3800-c875-11eb-9b76-04b2e7bbefb9.png)
![02](https://user-images.githubusercontent.com/22423716/121150303-fc075580-c875-11eb-8795-450bbeac4141.png)
![03](https://user-images.githubusercontent.com/22423716/121150315-fe69af80-c875-11eb-8490-7c236392330d.png)
![04](https://user-images.githubusercontent.com/

[2021-06-09 14:04] robtaussig commented on #89
Thanks @vmto for setting up the demo. I'm not familiar with Android development, nor snack.expo.io, so I might be missing some nuance, but what do you make of this?

<img width="2560" alt="Screen Shot 2021-06-09 at 9 55 06 AM" src="https://user-images.githubusercontent.com/18265387/121368802-569dc180-c909-11eb-9591-fd755ad4f83c.png">

I changed the ws url to a public service that echoes back any m

[2021-06-10 01:51] vmto commented on #89
Usewebsocket is an excellent socket connection library, especially in the friendly aspect of hooks. I like its API design very much. At present, I can't reproduce the bugs of Android compiled app. I can only capture the screenshots through fiddler.exe agent. I had to use native websocket in my project to meet my needs. I will study use websocket further. Thank you for your time.

[2021-06-10 02:16] robtaussig commented on #89
@vmto I appreciate the kind words, and I'm sorry that we couldn't get to the bottom of this. I will keep this issue open for another week to see if anyone else reports the same issue.

[2021-06-20 17:06] Lan-Hekary opened #90 "Queue The messages if there is an Error and Send it at Reconnect"
Hello,
This is not an Issue but more like a Feature Request.
In normal WebSocket connection if we send messages before the socket is open the messages are queued to be sent once the connection is established.
But when the connection is interrupted (By Network issue or Server Restart) it Does not recognize that the connection is interrupted before sending the message, and it shows an error and atte

[2021-07-07 02:43] blokingsmall opened #91 "how do i closing this websoket connected?"
This doc,don't have this API

[2021-07-07 02:47] blokingsmall commented on #91
![image](https://user-images.githubusercontent.com/26066413/124692716-a4114c80-df10-11eb-8e24-944765cbe0a5.png)

[2021-07-07 02:48] blokingsmall commented on #91
i've found this way;

[2021-07-07 02:48] #91 closed

[2021-07-07 08:23] kaybee99 opened #92 "Handle exceeding AWS max connection duration"
Hi,

API gateway has a max connection duration of 2 hours on all websocket endpoints (https://docs.aws.amazon.com/apigateway/latest/developerguide/limits.html#apigateway-execution-service-websocket-limits-table). This limit can't be increased.

The auto reconnect option handles the 10 minute Idle Connection Timeout perfectly, but seemingly not the 2 hour limit
Is there something that can be done t

[2021-07-08 03:02] 1111mp opened #93 "setLastMessage will cause the component to always re-render"
When useWebSocket is used in a component, the component will always trigger a re-render. When I checked the source code, I located this code:
[code]
Because the message of the heartbeat detection of websocket is not processed, the message of the heartbeat will also call the setLastMessage method to change the state, so the component will always be re-rendered.
Getting the last message is a great f

[2021-07-08 19:51] robtaussig commented on #93
Hi @1111mp

Thank you for taking the time to submit this and for the effort in coming up with a solution. I agree with you that it's important to avoid unnecessary re-renders in your components, but at least for how I use this library -- and I believe for others as well -- we often want our component to update for new messages. But I also understand why you would not want your component to update

[2021-07-08 19:56] robtaussig commented on #92
Hi @kaybee99,

Could you post an example of how you are using `useWebSocket`? I can't think of a reason why it would not reconnect for the 2 hour limit (and how difficult that would be to test!), but before I start guessing, I would like to see if I can infer anything from your setup.

[2021-07-08 20:02] robtaussig commented on #90
Hi @Lan-Hekary,

Hmm, that is the intended behavior, though I can see how this is not guaranteed in the cases you describe. Thanks for this suggestion -- will implement!

[2021-07-08 20:04] #89 closed

[2021-07-08 20:04] #80 closed

[2021-07-08 20:16] Lan-Hekary commented on #90
Hello @robtaussig,

Looking forward to it, Thank you for the effort you put in this project, I appreciate it alot.
Can you make this behavior depends on a Flag to Enable or Disable it too ?
In Both Cases, Before Opening the Websocket and in case of connection interruption.

[2021-07-09 02:32] 1111mp commented on #93
I'm sorry it's my fault, I didn't notice the filter option.I should read the document carefully beforehand. sorry.

[2021-07-09 02:32] #93 closed

[2021-07-09 02:52] 1111mp commented on #93
Will this library consider supporting the Promise call of sendMessage?
like this:
[code]
Use in components:
[code]
But the prerequisite is that an agreement needs to be determined with the server. Perhaps this shouldn't be a function that the library needs to provide.This should belong to the demo of how to use this library.
Finally, thank you very much.

[2021-07-09 07:49] kaybee99 commented on #92
Using it like this

    const { sendJsonMessage } = useWebSocket(socketUrl, {
        onMessage: (message) => handleWebsocketEvent(message),
        queryParams: {
          Authorizer: token,
          locationId: selectedLocationId
        },
        shouldReconnect: (_closeEvent) => true,
        onClose: () => console.log("closing"),
        onError: (err) => console.log("error", err),
      }

[2021-07-09 14:57] robtaussig commented on #92
Is it possible that AWS requires a new token after the 2 hour limit?

Also, a few things that I would try:

[code]

[2021-07-09 14:59] robtaussig commented on #93
I think that's a very cool implementation, but I agree with you that it might be better implemented outside of the library since it requires coordination with the websocket server. If I were you, I'd write a custom hook that wraps `useWebSocket` and returns a modified sendMessage function that does exactly what you just coded.

[2021-07-10 22:33] kaybee99 commented on #92
The token is still valid. I can use it to authenticate with other rest endpoints without a problem.

The close event in this instance has status 1006 with empty reason. It feels like API gateway kills the connection to the browser when the 2 hour limit is reached. Refreshing the page fixes it probably because as far as APIg is concerned it's a new connection altogether (ie another client ID).

I'l

[2021-07-17 13:29] bjornenvision opened #94 "Recommended way to pass authorization tokens when using react-use-websocket?"
Hi there,

I am using [Amazon API Gateway Websocket](https://docs.aws.amazon.com/apigateway/latest/developerguide/websocket-api-develop.html) on the server side and using react-use-websocket on the client side.

I am now implementing [AWS API gateway lambda authorizer](https://docs.aws.amazon.com/apigateway/latest/developerguide/api-gateway-lambda-authorizer-input.html) and I am looking into ways

[2021-07-22 08:41] toderitagcristian commented on #94
Hi !
This is not related to this library because I did not use it.
I just stumbled on it :))

I had an app where I used websocket and I needed to pass a token.
After some search and testing, the only solutions I found is to pass the token as a protocol.

const webConfig = [
  `wss://whatever.com`, // url: string
  'token', // protocols: string | string[],
]

const ws = new WebSocket(...webConfig);

[2021-08-07 10:47] parnasmi opened #95 "How to manually close socket connection?"

[2021-09-08 08:19] liuwin7 opened #98 "The messageHistory in WebSocketDemo has side effects."
The example in the README.md, the `messageHistory` is computed with `useMemo`.
[code]
It should be functional and no side effect.
However, it not only depends on the other dependence --`messageHistory`-- expect the dependence list `[lastMessage]`,  and also makes a side effect for the `messageHistory`-- it can override the `messageHistory.current`.

So, in the strict mode, the `messageHistory` wil

[2021-09-29 17:40] devnullada opened #104 "Add license"
Hi and thanks for a great library. Can you please add a license file to this project? Thank you.

[2021-10-03 15:45] FarCryFromHuman opened #105 "Websocket upgrade request not completing"
I just started a new react project (via create-react-app) and have made no other changes but to bring in react-use-websocket and attempt to connect to my local websocket server:

[code]

My websocket server is also very simple, a node app running a server via express and socket.io (trimmed for relevant bits):
[code]
I have a simple html + vanilla js index.html file that express is serving above, w

[2021-10-09 08:20] hiql opened #106 "Crashed when an invalid url passed"
Passing an invalid socket server url causes the react component crashed.
I have no idea How shoud I handle this error?

[2021-10-21 17:23] robtaussig commented on #90
@Anntoin just read a similar report in another thread. I will investigate and implement a fix/feature!

[2021-10-21 18:45] julianwachholz opened #108 "Shared websocketRef points to old connection after reconnecting."
In the event of the server terminating the connection the hook will attempt to reconnect.

Shared connections however fail to update the Ref and will point to the old connection which now has a readyState of CLOSED.

So using `sendMessage` will silently fail and put the message in a queue that is never read.

https://github.com/robtaussig/react-use-websocket/blob/5f337b8da99293a43329e2d7ab9c7b5206

[2021-10-21 18:56] robtaussig commented on #98
@liuwin7  This is a good point, and I hadn't thought carefully enough when setting up that example -- which is not good since it is reasonable to assume that users will follow/copy README examples for their own usage. I will fix -- thanks!

[2021-10-21 19:08] #106 closed, assigned to nobody

[2021-10-21 19:09] robtaussig commented on #104
Added 5d2774a9ecf96afb65d55395659de1356dc43d6c

[2021-10-21 19:09] #104 closed

[2021-10-21 19:15] robtaussig commented on #105
Hey @FarCryFromHuman,

Very sorry for late reply. If you are using this with `socket-io`, you should either use the [fromSocketIO](https://github.com/robtaussig/react-use-websocket#fromsocketio-boolean) option, or better yet, a [useful wrapper](https://github.com/robtaussig/react-use-websocket#fromsocketio-boolean) that another contributor created.

[2021-10-21 20:02] #108 closed, assigned to nobody

[2021-10-30 18:54] yataw commented on #105
@FarCryFromHuman

I had the same problem and enabling allowEIO3 option on socket.io server helps. You save my day dude, thank you!

[2021-11-05 13:35] Anntoin commented on #92
Just wanted to add that `react-use-websocket` is handling the API gateway max connection duration for me. We're keeping our token fresh after every reconnect but that's all.

[2021-11-05 13:44] Anntoin opened #110 "Allow custom reconnect behaviour"
I like to be able to customise the retry behaviour, e.g. like using a token bucket. Then a client would be able to reconnect immediately for 'normal' websocket connection interruptions but with a persistent error or connection issue the client appropriately throttles it's requests.

I'm thinking this could be accomplished by allowing `reconnectInterval` to optionally take a function.

Is this some

[2021-11-16 16:30] Jnp95 opened #112 "Receive unexpected "Close" event"
Hello,

In the `shouldReconnect` callback, I receive a "Close" event every minute (code 1006). Whereas with others websocket clients, I don't.
Have you an idea ?

[code]

[2021-11-16 16:58] robtaussig commented on #112
Hi @Jnp95,

Could you please provide me an example of how/where you are using the hook? The `shouldReconnect` callback will be called whenever a WebSocket closes. Is it every minute on the dot?

[2021-11-17 17:28] davilima6 commented on #110
I agree that'd be a powerful feature. In the meantime I'm considering working around with something like this: https://codepen.io/davilima6-the-lessful/pen/LYjMoNq

[2021-11-24 13:54] carlosporta opened #113 "Problem with useDoubleClick hook"
When I call the hook useWebSocket, the useDoubleClick hook stops to detect double clicks. Here is an example:

    function App() {
      const buttonRef = useRef();

      useDoubleClick({
        onSingleClick: e => {
          console.log(e, 'single click');
        },
        onDoubleClick: e => {
          console.log(e, 'double click');
        },
        ref: buttonRef,
        latency: 250

[2021-11-24 16:33] carlosporta commented on #113
Problem not related to this library.

[2021-11-24 16:33] #113 closed

[2021-12-01 12:19] Robokishan opened #114 "How to subscribe to channel"
Hey I see docs how to use it properly. there are some docs regarding subscribe. but i can't find how to implement it using this library can somebody provide me link or any implementation for subscribing to websocket events. because when tried to connect to websocket server it correctly connecting. but it is not sending any probe. after success-full connection it just disconnects. i am not sure wha

[2021-12-03 08:17] nicode-io opened #115 "Manage connection to self-signed server"
Hello folks,

I'm having an issue while trying to connect a server with a self-signed certificate. My application runs great on a simulator and websocket connection works. Unfortunately on a physical device the connection is refused. I'm pretty sure it comes from a force option missing, like "-n" command when using wscat.
Is this a way to add this option with this library ? Any help can be helpful

[2021-12-17 15:57] cccaballero opened #116 "Refresh cookies on reconnect"
I am using some cookies for authorization in the socket connection and the token in the cookies is refreshed every 30 minutes. The issue is that, if the socket connection fails for some reason, and tries to reconnect, it always use the initial cookies values for the following connections and not the new cookies defined.

The issue is something like:
- I define some cookies: `cookies.set('myCookie'

[2021-12-22 00:36] MaxBittker commented on #112
other websocket clients might be sending keepalive pings?  (?)

[2021-12-22 01:00] MaxBittker opened #118 "getWebSocket().close() not closing"
hi! Thanks for the nicely designed library, i've used it for a few projects.

I am trying really hard to get my websocket to close (and immediately reconnect) on demand.

(idea being to trigger this behavior when I stop receiving "ping pong" heart beats from the server because it's crashed and rebooted. )

The issue I'm experiencing is that the methods I've tried to close the websocket don't seem

[2021-12-23 04:39] MaxBittker opened #119 "extra websocket is opened when react is run in development mode"
react renders components twice when it's run in strict mode, to help find accidental side effects, it looks like this hook does not close the old web-socket in that situation. (only effects `share: false`)

I think the solution would be returning a cleanup function at the end of this useEffect: https://github.com/robtaussig/react-use-websocket/blob/master/src/lib/use-websocket.ts#L139

See these i

[2021-12-23 05:19] #119 closed

[2021-12-23 09:28] Jnp95 commented on #112
In fact, troubles was caused by websocket server. So this library is not in
fault anymore.

Le mer. 22 déc. 2021 à 01:36, Max Bittker ***@***.***> a
écrit :

[2021-12-27 19:03] cccaballero commented on #116
Nothing, it is solved, there was no problem with `react-use-websocket`. The problem was between the keyboard and the chair.

[2021-12-27 19:03] #116 closed

[2022-01-04 11:24] minhdao88 opened #120 "Async url creates multiple instance when using share=true"
Thanks for the useful library. My use case is similar to this async URL issue https://github.com/robtaussig/react-use-websocket/issues/33. When I tried to use the async URL it creates multiple instances even when I use the share=true option. I use the hook in multiple different components so maybe that is why it creates multiple instances.

Any suggestion for this case? I just need to refresh the

[2022-01-04 14:13] robtaussig commented on #120
Hi!

Can you provide a code example? And can you confirm whether the url value
that the function resolves to is the same each time it is called?

- Sent from mobile. Please forgive brevity.

On Tue, Jan 4, 2022, 6:24 AM dao ***@***.***> wrote:

[2022-01-05 01:53] minhdao88 commented on #120
@robtaussig My code basically looks like this. This would resolve to a different auth_token parameter every time I think

[code]

[2022-01-05 20:13] robtaussig commented on #120
If the url is different (including the token parameter), then a new
websocket will need to be opened for each unique url. The share parameter
means that every component with the same url will use the same websocket
instance.

- Sent from mobile. Please forgive brevity.

On Tue, Jan 4, 2022, 8:54 PM dao ***@***.***> wrote:

[2022-01-27 06:09] oliver1epic commented on #118
shouldReconnect: (_closeEvent) => {
      timer.start();
      console.error(_closeEvent);
      console.log("Reconnecting to the state server.");
      return false;
    }

[2022-01-27 16:36] MaxBittker commented on #118
?

On Thu, Jan 27, 2022 at 1:10 AM oliver1epic ***@***.***>
wrote:

[2022-02-03 10:06] astritspancasd opened #122 "Update query params"
I have a buildWsURL function that gets token from localstorage and appends it to the url as a query param.

[code]

Most of the time connection closes because this token expires after 5 mins. Any idea how to update websocket url on reconnection?

[code]

[2022-02-05 23:07] robtaussig commented on #122
Hi @astritspancasd

I'd recommend using tracking the token in local state and passing it through`options.queryParams`. Then you can use the `onReconnectStop` callback to generate a new token:

[code]

When you call `setToken` in `onReconnectStop`, and provided a new token value, `react-use-websocket` will open a new `WebSocket` when the queryParams change. If you don't want to wait 30 seconds to g

[2022-02-05 23:07] #122 closed

[2022-02-05 23:16] robtaussig commented on #118
@MaxBittker I'll take a look at your example later to see if anything stands out as "almost" not right, but I'd be more likely to spot the issue if you were able to provide an example of where it isn't working.

[2022-02-05 23:18] #112 closed

[2022-02-06 05:04] robtaussig commented on #118
Hi @MaxBittker

I think a good place to start is here:

[code]

By not including `readyState` in the dependency array, you are possibly checking a stale value here: `readyState === 1`, and perhaps even when it times out, by the time it timed out, `readyState` was no longer `OPEN` (1).
Can you confirm whether `"Manually closing the state server socket due to a timeout."` is ever being logged to con

[2022-02-07 12:23] netanel-haber opened #123 "lastMessage state causes many rerenders"
After noticing many rerenders of my components using useWebSocket, I took a look at the relevant code and noticed the hook internally maintains a "lastMessage" and "lastJsonMessage" state. I think an option to opt out of this behaviour would be very useful - for example, my usage of the component is through the onMessage callback - I don't even examine the lastMessage state. This would prevent man

[2022-02-07 13:20] netanel-haber commented on #123
I see now that providing `( ) => false` to the `filter` key would provide the functionality I'm looking for (`lastMessage` state will never by updated) - perhaps updating the README to explain this explicitly would be helpful to future users? Or providing a boolean key which effectively does the same thing?

[2022-02-07 13:25] netanel-haber commented on #123
I guess this might be considered a duplicate of (#93). [This comment](https://github.com/robtaussig/react-use-websocket/issues/93#issuecomment-876702088) highlights using the `filter` option, although I still think providing an explicit example may be useful. Shall I submit a README pull request?

[2022-02-07 15:01] Semigradsky opened #124 "CHANGELOG 🙏"
Hi and thanks for a great library.
Could you please add the CHANGELOG file? Or fill https://github.com/robtaussig/react-use-websocket/releases
It is not very clear what breaking changes were introduced in v3.

[2022-02-07 18:21] robtaussig commented on #124
Hi @Semigradsky,

Thank you for the kind words and for the great suggestion to fill out the release form. Let me know if I did this correctly:
https://github.com/robtaussig/react-use-websocket/releases/tag/3.0.0

To quickly address your question, there are no breaking changes in `3.0.0`.

[2022-02-07 18:25] robtaussig commented on #123
Hi @netanel-haber,

I would be more than happy to approve a pull request that improves the documentation!

[2022-02-07 18:41] robtaussig commented on #114
Hi @Robokishan,

There is no native `subscribe` for WebSockets -- this is something you need to implement yourself based on a coordination of messages between the client and a server. An example:

On the client:
[code]

As for sending a probe, this is also something that must be handled by you:

[code]

If you are coming from a codebase that needs to work with a socket.io backend, which does requi

[2022-02-07 18:41] #114 closed

[2022-02-07 19:50] Semigradsky commented on #124
It looks great! Many thanks!

[2022-02-07 19:50] #124 closed

[2022-02-09 17:16] DominicTobias opened #125 "Allow typing response"
Hey, it seems like it's not possible to type `lastMessage`?

The definition is:

[code]

So even though `WebSocketHook` accepts a generic, we are unable to pass one through from `useWebSocket` due to it not accepting one. Should it be like this?

[code]

Is there another recommended way to type the response?

[2022-02-12 08:55] kinzlp commented on #123
@netanel-haber Yes please!

[2022-03-01 15:43] cubecleveland opened #128 "Sending password one time"
Hello,
I have visted this library before but it didnt work for my implementation but now i have another use case that i think would work great.

We have a socket that expects a combo of user/pasword in ajson on socket open ( the json is being sent form the client upon socket open)
how can i mimick this behavout using the libarray. obviouslly we are looking at ashare socket across the app, i feel l

[2022-03-01 17:14] cubecleveland opened #129 "sending a message on open to the socket in a share connection"
Hi,
We have a share connection socket. We share it through the app.
I want to send a message on socket open but not sure whihc methid to use ( can not use getWebsocket().send  because of the share and dont have access to the sendMessage function...

Any suggestions ?

[2022-03-02 19:38] tagdara commented on #106
This solution doesn't actually work with the hook.  I still get "Unhandled Rejection (SyntaxError): Failed to construct 'WebSocket': The URL 'wss://(bad url here)/websocket' is invalid, regardless of where I establish the EventBoundary.

Since it's a hook, you can't put it in a try/except loop either.

[2022-03-16 01:37] mkarsene opened #130 "api gateway routes"
Hi,
I am using this with api gateway websockets. How do you sent messages to specific routes?

[2022-03-31 16:33] CarolynWebster opened #132 "Handshake fails when using protocols option"
I am trying to pass authorization information via the protocols option, and when I add them in, the handshake fails. I remove them, it all works fine.

I can properly see the auth info in my headers, so I know it is able to add it via protocols, and I can see the connect succeeding on the server side, so I think the server socket setup is fine. As soon as I comment out the protocols, the socket wo

[2022-03-31 22:43] CarolynWebster commented on #132
Turns out my issue was related to the server not returning a matching subprotocol - https://stackoverflow.com/questions/70250073/websockets-to-localhost-fails-in-chromium-based-browsers

[2022-03-31 22:43] #132 closed

[2022-04-07 10:53] danielcrk opened #133 "Feature suggestion/request: Send periodic heartbeat"
Hi Robert! First of all, thank you so much for this amazing hook - the ability to share a single connection between multiple instances really sets it apart!

I'm currently using the hook in a project where the backend requires a periodical heartbeat (just an empty message every 10 seconds or so) to keep the connection alive. I _think_ this is a pretty common pattern.

Given the fact that the hook

[2022-04-21 12:35] danielcrk commented on #133
Hey @robtaussig, sure, here's a stripped-down version of my wrapper.

The solution is far from perfect, but good enough for my usecase. The interval is set to 2 seconds and the ping message needs to be sent every 10 seconds, so the actual ping timing wont be exact, but keeping things simple was worth the trade-off.

So basically, each instance of the hook will have its own timer, but will only act

[2022-04-25 18:53] dmckinney1229 opened #134 "Manually splitting messages in to multiple frames"
I'm exceeding the frame size limit for AWS Web Sockets (32kb), is there a way to manually split a message in to multiple frames?

[2022-04-26 09:07] tomisu opened #135 "React 18 - Batching breaks react-use-websocket"
I updated React to v18, which includes state batching. This brought some issues to react-use-websocket.

If the websocket gets 2 messages very close in time, one of them will be skipped, since the `setLastMessage` calls are being batched.

This should be avoided including `flushSync` whenever setting these state variables.

Thanks!

[2022-04-26 13:03] robtaussig commented on #135
Thank you @tomisu for bringing this to my attention! I will definitely prioritize this fix.

[2022-04-27 17:15] robtaussig commented on #135
Hi @tomisu ,

Here's the commit: b52c5f907526074ed19c83bac4e61a7422bf1969

I updated the peerDependencies to 18 and published to a new major version (`4.0.0`), and wrapped the state setters in `flushSync`. I don't have any complex projects at the moment using react 18, so please let me know if this solves your problem!

[2022-04-27 17:15] #135 closed

[2022-04-27 18:15] tomisu commented on #135
Hello @robtaussig

I updated to `4.0.0`, and it works perfectly with React 18. My project isn't that big, but it seems like the issue is resolved.

Thanks a lot for such quick update!

[2022-04-27 22:33] robtaussig commented on #135
You're welcome! And thanks again for reporting this.

[2022-04-29 17:30] dmckinney1229 commented on #134
Can anyone help with this?  I thought frame splitting was supposed to happen on the protocol level but this is causing major issues with my application.
<img width="357" alt="image" src="https://user-images.githubusercontent.com/3771910/165994110-e4b0fdfb-da22-496b-8c18-a6a13fc6647e.png">

[2022-05-06 19:21] mweberxyz opened #138 "React 18 spurious connections in strict mode"
Using React v18 and ReactDOM v18 `createRoot` in strict mode results in spurious web socket connections being created and never destroyed when component un-mounts.

As a POC, see source [here](https://replit.com/@mweberxyz/GrumpyImmaterialBraces#src/main.jsx), or running: [here](https://GrumpyImmaterialBraces.mweberxyz.repl.co).

Console:
<img width="696" alt="Console" src="https://user-images.git

[2022-05-07 19:16] asmello commented on #138
I can reproduce.

[2022-05-10 21:46] zerofirework opened #139 "Add an option to skip isWebSocket check"
Hi dev team,

I'm writing cypress tests that mock websocket messages. I'm using mock-socket library that creates a mock type of web socket instance. It conflicts with the `assertIsWebSocket` function in the react-use-websocket because it is not an instance of the native WebSocket.

Can we add a new option to skip this check? For example:

[code]

[2022-05-11 18:59] mweberxyz commented on #138
I pushed a branch that fixes the strict mode issue by storing when the useEffect cleanup function is called, but I am not sure it's the right approach. It brings up another thought due to the async nature of `start` in the `useEffect` -- if the component is unmounted before the `getUrl` call finishes, then wouldn't it cause the same problem -- web socket is opened but never closed because the call

[2022-05-12 16:19] cubecleveland opened #140 "Reconnect SSE useEventSource on error"
Hello, im tryin to initiate a reconnect for the useEventSource using Event stream.
Problem is that sometime the Server has high traffic and shuts the connection,

Is there any hthing i can do to reinitalize the EventStream to reopen the connection ?

[2022-05-16 20:53] poljsakerik opened #141 "Connection persists on closed tab"
Hey, thanks for the awesome lib. I have a question however, is the socket supposed to not close when I close the tab ?

[2022-05-17 14:14] robtaussig commented on #140
Hi @cubecleveland,

Unfortunately, I don't know enough about SSE to answer this question. If you can provide a code example, I can take a look.

[2022-05-17 14:20] #138 closed

[2022-05-20 11:59] joealden commented on #32
@robtaussig it looks like it's no longer possible to access `sendMessage` in the `onOpen` handler. If so, what was the reasoning behind removing this?

[2022-05-20 12:27] joealden opened #143 "Suggestion: Make `lastJsonMessage` More Type Safe"
Currently (in version `4.1.0`), the `lastJsonMessage` property returned by `useWebSocket` is typed as `any`, which makes the lint rule [`@typescript-eslint/no-unsafe-assignment`](https://typescript-eslint.io/rules/no-unsafe-assignment) trigger. From what I can tell, `lastJsonMessage` should always be a JSON value, so I propose that it's either typed with one of the types available at https://githu

[2022-05-20 12:42] robtaussig commented on #143
Agreed! Will change shortly

[2022-05-20 12:46] cubecleveland commented on #140
Thanks so much for the answer!

Im really just using the same example from the docs.

const { lastEvent, getEventSource, readyState } = useEventSource(
  'http://localhost:3000/',
  {
    withCredentials: true,
    events: {
      message: (messageEvent) => {
        console.log('This has type "message": ', messageEvent);
      },
      update: (messageEvent) => {
        console.log('This has typ

[2022-05-20 13:18] robtaussig commented on #143
Hi @joealden, Thank you for pointing me to that resource. Updated to 4.1.2.

ad2747

[2022-05-20 13:24] joealden commented on #143
Perfect, thanks for the speedy resolution!

[2022-05-20 13:24] robtaussig commented on #139
Hi @zerofirework

Updated to 4.1.3.

Thanks for the suggestion!

https://github.com/robtaussig/react-use-websocket/commit/e7c10efb315a4802896790d8e5a437a4f58466c9

[2022-05-20 13:24] #139 closed

[2022-05-20 14:01] robtaussig commented on #125
Sorry for the late delivery, and thank you for your patience @DominicTobias ,

Updated to 4.2.0!

https://github.com/robtaussig/react-use-websocket/commit/7f706878666f9ce28660e34c11d10728f96fe3b1

[2022-05-20 14:01] #125 closed

[2022-05-20 14:38] DominicTobias commented on #125
Nice thanks @robtaussig

[2022-05-20 18:26] Thestias opened #144 "Connect refreshes page"
once the connection is established i see my website do a sort of "refresh" is there any way to stop this? or is it the intended behavior

my code if relevant:
[code]

[2022-05-20 23:11] zerofirework commented on #139
Thanks for the quick implementation!

[2022-05-20 23:13] zerofirework commented on #139
BTW, is there any chance that this change can be ported back to 3.0.0?

[2022-05-23 18:50] #144 closed

[2022-05-24 19:07] estmau opened #145 "The library does not sense the disconnection of websocket when it is connected to a network, but this network does not provide Internet"
The library does not sense the disconnection of websocket when it is connected to a network, but this network does not provide Internet, which makes websocket still connected when it is not really connected anymore. How can I manually connect to websocket.
Maybe with the function "getWebSocket()?.OPEN(); and "getWebSocket()?.close();"?

[2022-05-25 20:24] shmkane commented on #133
This is also something I'd like to see added

[2022-05-28 22:29] vedantroy opened #146 "How to send binary data?"
This is a super useful library!
I was wondering how I could send binary data using this library?

[2022-05-28 22:31] vedantroy commented on #146
Nevermind, this is a non-issue. For some reason, (maybe it was the NPM docs??) I thought I could only send strings.

[2022-05-28 22:31] #146 closed

[2022-05-29 01:20] vedantroy opened #147 "If the hook handles component unmount for us, do we need to do anything?"
First, thanks for making this library!

Now, a quick question. The docs have the following example:

[code]

I'm having trouble understanding this, does this mean I should not need to implement this code in my actual application (e.g, it's just code for the sake of code in the demo), or should I implement this code in my actual application?

[2022-05-31 09:42] cubecleveland commented on #140
CAn u guide me to the piece of code wheer the Eventstream is being created we might be able to contribute apiece to handle my use case..

[2022-06-01 19:53] toshiya14 opened #148 "How to re-open the websocket after manually closed it?"
I have tried

[code]

But the websocket would not re-connect. And I did not found any function like `getWebSocket().open()` or `getWebSocket().connect()`.

[2022-06-08 09:29] SaremS opened #149 "lastMessage undefined if not named 'lastMessage'"
Hi,

is this intended:

`const { sendMessage, lastMessage, readyState } = useWebSocket(socketUrl);`

is working fine, but

`const { sendMessage2, lastMessage2, readyState2 } = useWebSocket(socketUrl);`

results in `lastMessage2===undefined`

Thanks!

[2022-06-09 01:26] xieqingtian commented on #108
looks like it not be fixed.

`websocketRef` of other shared subscribers should be synchronized after reconnection.

[2022-06-10 10:19] Eugene0 commented on #148
I was able to reopen the websocket using this code:

[code]

[2022-06-11 16:56] koralarts commented on #149
This is expected. `useWebSocket` returns an object  -- see [doc](https://www.npmjs.com/package/react-use-websocket). You are destructuring that object whenever you write `const { sendMessage, lastMessage, readyState } = useWebSocket(socketUrl);`. This means the names within the `{}` are keys that exist in the returned object. You can rename those in your destructure by `{ sendMessage: sendMessage2

[2022-06-12 10:15] olegtaranenko opened #150 "update to Socket.IO v4.x"
Using last version of [socket.io 4.x](https://github.com/socketio/socket.io) cause exception in browser:
[code]
Which is usually means socket server/client version mismatch.

To workaround need to downgrade server library to
[code]

[2022-06-22 03:11] allenGKC commented on #133
Awesome idea! Looking forward this feature.

[2022-07-04 11:13] rajeshwarpatlolla opened #152 "Set cookies to the websocket URL"
How to set / attach cookies to the web socket connection URL?
We are connecting to mattermost server for websocket connection. We need to set/attach some cookies for this connection to receive messages. How we set cookies in the headers?

<img width="1055" alt="Screenshot 2022-07-04 at 4 39 32 PM" src="https://user-images.githubusercontent.com/9896335/177143033-7f36702b-b6ef-473c-8ccb-f2b5608ddb0a

[2022-08-09 10:40] suttapak opened #153 "How to click the button to connect?"
Hello, I have a problem with my project. The problem is when i open the page is store `useWebSocket`  hook it connects to my ws server but i have to click it before connecting. not connected when opening that page.
thank you for answer 😍.
- [ ] click to connecting ws server.
- [ ] never close connection when change pages `website page`

[2022-08-16 22:51] robtaussig commented on #149
Thanks @koralarts

[2022-08-16 22:51] #149 closed

[2022-08-16 22:54] robtaussig commented on #153
@suttapak could you please provide an example of how you are using it? I’m not clear on whether you want a solution to defer opening the websocket until after clicking on a button, or whether you are finding that this is the only time it works for you

[2022-08-16 22:55] robtaussig commented on #148
@Eugene0’s solution is how I would recommend it! Thanks

[2022-08-16 22:55] #148 closed

[2022-08-16 22:56] robtaussig commented on #147
@vedantroy no need for you to implement!

[2022-08-16 22:56] #147 closed

[2022-08-19 19:07] cjambrosi opened #155 "Creating a new instance of websocket when opening new browser tab"
Hello!
Is possible not to create a new websocket instance when opening a new browser tab?

[2022-08-19 19:08] cjambrosi commented on #155
I'm using version 3.0.0, at the moment

[2022-08-28 14:52] ps2-controller opened #156 "Getting type errors on `lastJsonMessage`"
Hi! I suspect this comes from a lack of understanding on my part, but I'm getting type errors in my codebase whenever I use `lastJsonMessage` --> Here's a simple example, and how it's affecting me:

[code]
^ Typescript doesn't like this for the following reason:

[code]

------
Looking into the Type it expects for lastJsonMessage to be of type T, defined in react-use-websocket as:
[code]

where Js

[2022-09-08 15:55] ps2-controller commented on #156
This is my current workaround:
[code]

[2022-09-08 15:56] ps2-controller commented on #156
This is my current workaround:
[code]

[2022-09-12 17:03] PCOffline opened #157 "Add Tags & Releases for Release Commits"
This is less of a code issue and more a maintaining issue, it's just easier and less confusing if all releases appear under the 'Releases' page, since the only release to appear there is 3.0.0

[2022-09-21 03:00] nnmax opened #158 "[Feature] Support ES Module"
We need ES Module for Tree Shaking to work.

https://webpack.js.org/guides/tree-shaking/

[2022-09-26 19:06] ifokeev commented on #145
same issue here

[2022-09-26 19:47] ifokeev commented on #145
solution https://github.com/robtaussig/react-use-websocket/issues/133#issuecomment-1105155442

[2022-10-16 16:42] csvan opened #160 "Feature: condition-based sharing"
First of all, thanks for a fantastic lib!

Currently, passing the option `shared: true` allows multiple hook instances to share the same websocket. This is nice, but it would be _even_ nicer if sockets could be shared based on some condition:

Example:

[code]

[2022-10-24 04:03] SnowBeforeSpring commented on #17
I got the same problem, have you resolved this problem?

[2022-11-07 16:38] Sebastian-Nielsen opened #161 "Support for react 17?"
[code]

[2022-11-07 21:09] JackGoldsworth commented on #161
From the README:

react-use-websocket now supports (and depends on) React 18. If you are not ready to upgrade to React 18, please install

version 3.0.0:
npm install --save react-use-websocket@3.0.0

//or

yarn add react-use-websocket@3.0.0

[2022-11-07 22:12] Sebastian-Nielsen commented on #161
Oh, my bad, I must have missed that part. Thanks.

[2022-11-07 22:12] #161 closed

[2022-11-09 09:10] yespire opened #163 "Demo Code breaks on 4.x"
Running 4.2 @ React-18, the demo code throw error

![image](https://user-images.githubusercontent.com/1065882/200786619-098bb8ef-bd9b-4a60-bf71-b0698e5c10fc.png)

on Lib/Util.ts

https://github.com/robtaussig/react-use-websocket/blob/4ba9fa111a4cce76c2fdb2f623c14f68093c20b7/src/lib/util.ts#L9

IF useWebSocket(url, { share:true }, the error is thrown when I click on add message button
IF without sh

[2022-11-09 14:22] #163 closed

[2022-11-17 11:15] sachinagarwal010 opened #166 "WS connection closed in few min"
We are trying to use the belo code and observed that the WS connection is getting closed after 14-15 min automatically ?
Can you please suggest how to keep alive for 2 hours.

`const websocketService = useWebSocket(`"wss://127.0.0.1:8080/" : {props.resourceUrl}`,
    {
      onOpen: () => ConsoleLog.info("Websocket connection Opened for " + props.resourceUrl),
      onClose: () => {
        Consol

[2022-11-22 01:47] 152334H opened #167 "FastAPI websocket connects and closes with error on mobile"
A [react app](https://github.com/152334H/gpt-j-editor/blob/66c9008213cee30bed8cb66b367b4fbca3b06499/editor/src/App.js#L161) using a FastAPI [websocket endpoint](https://github.com/152334H/gpt-j-editor/blob/ca110469a713afd98ed00cfb3d0199d03ae93c81/backend/main.py#L36) connects & communicates successfully from desktop, but connects and throws an onerror event on mobile.

---

I don't expect a fix (o

[2022-11-24 15:18] imtmh commented on #132
I got the same issue, It used to work fine without protocol error. After adding authorizer for Websocket and sending the auth tocken in protocol, Its not working. But its working fine via terminal when I fire websocket using wscat. Help appreciated.

[2022-11-24 15:27] imtmh opened #168 "Websocket connection failed when "protocols" option is used."
Below is my code:

[code]

Its working fine and connection is successful when I use `wscat` in terminal. But on browser its showing the following error.

![image](https://user-images.githubusercontent.com/2740042/203820025-e7089f32-8ea3-4c6f-9c1f-0a759bc4fb58.png)